.deposit-filter{
	&__block{
		background-color: #fff;
		&-top{

			&-inner{
				padding: 45px 40px 39px;
				.clearfix;
			}
		}
		&-bottom{
			border-top: 1px solid @cBorder;
			&-inner{
				padding: 25px 40px;
				.clearfix;
				font-size: 18px;
				letter-spacing: -0.25px;
				line-height: 25px;
			}
		}
	}
	&__counter{
		color: @title-color;
		float: left;
	}
	&__items{
		margin-top: 6rem;
	}
	&__reset{
		.color(@cGray);
		float: right;
		&:before{
			content: '';
			display: inline-block;
			vertical-align:top;
			width: 1.6rem;
			height: 1.6rem;
			.background('@{pathToImg}icons/return.svg');
			margin-top: 5px;
			margin-right: 15px;
		}
	}
	&__options{
		width: 73rem;
		float: left;
		.deposit-calc__option + .deposit-calc__option{
			margin-top: 3rem;
		}
	}
	&__checks{
		float: left;
		width: 33rem;
		margin-left: 3rem;
		margin-top: -5px;
	}
	&__check{
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.22px;
		line-height: 24px;
		color: @title-color;
		position: relative;
		&+&{
			margin-top: 24px;
		}
		.ideal-check{
			position: absolute;
			top: 2/@rem;
			right: 0;
			margin-right: 0;
			&.checked{
				background-color: @cGold;
			}
		}
		&._active{
			font-weight: 600;
		}
	}
}
.tablet.portrait{
	.deposit-filter{
		&__block{
			&-top{
				&-inner{
					padding: 45px 40px 30px;
				}
			}
		}
		&__items{
			margin-top: 4rem;
		}
		&__options{
			width: 100%;
			float: none;
		}
		&__checks{
			float: none;
			width: 100%;
			margin-left: 0;
			margin-top: 4rem;
			.clearfix;
		}
		&__check{
			font-size: 14px;
			letter-spacing: -0.19px;
			line-height: 20px;
			float: left;
			&:last-child{
				float: right;
				margin-left: 0;
			}
			&+.deposit-filter__check{
				margin-top: 0;
				margin-left: 3.7rem;
			}
			.ideal-check{
				position: static;
				margin-right: 1.6rem;
			}
		}
	}
}