.deposit-filter{
	.deposit-calc__option-select{
		width: 7.3rem;
	}
	.chosen-container-single .chosen-single{
		font-size: 2rem;
		div{
			width: 2.2rem;
		}
	}
	&__block{
		background-color: #fff;
		&-top{

			&-inner{
				padding: 40/@rem 40/@rem 39/@rem;
				.clearfix;
			}
		}
		&-bottom{
			border-top: 1px solid @cBorder;
			&-inner{
				padding: 25/@rem 40/@rem;
				.clearfix;
				font-size: 18/@rem;
				letter-spacing: -0.25/@rem;
				line-height: 25/@rem;
			}
		}
	}
	&__counter{
		color: @title-color;
		float: left;
		max-width: 70%;
	}
	&__items{
		margin-top: 6rem;
		&-empty{
			display: none;
		}
	}
	&__reset{
		.color(@cGray);
		float: right;
		&:before{
			content: '';
			display: inline-block;
			vertical-align:top;
			width: 1.6rem;
			height: 1.6rem;
			.background('@{pathToImg}icons/return.svg');
			margin-top: 5/@rem;
			margin-right: 15/@rem;
		}
	}
	&__options{
		width: 72rem;
		float: left;
		.deposit-calc__option + .deposit-calc__option{
			margin-top: 3rem;
		}
	}
	&__option{
		select{
			font-size: 20/@rem;
			font-weight: 600;
			letter-spacing: -0.28/@rem;
			border-color: #e8e8e8;
			padding-right: 1rem;
			-webkit-appearance: none;
			background: url('@{pathToImg}icons/select.svg') no-repeat calc(~"100% - 1.5rem") center #fff;
			background-size: 7/@rem 4/@rem;
			/* for FF */
			-moz-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			/* for IE */
			-ms-appearance: none;
			appearance: none!important;
			&[data-calc-filter-period]{
				padding-left: 2rem;
			}
			&::-ms-expand {
				display: none;
			}
		}
		.clearfix;
		&+&{
			margin-top: 2.4rem;
		}
		&-title{
			color: @title-color;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.22px;
			line-height: 28px;
			padding-top: 10px;
			float: left;
			width: 130px;
		}
		&-fields{
			margin-left: 136px;
			position: relative;
		}
	}
	&__checks{
		float: left;
		width: 33rem;
		margin-left: 4rem;
	}
	&__check{
		font-size: 16/@rem;
		font-weight: 400;
		letter-spacing: -0.22/@rem;
		line-height: 24/@rem;
		color: @title-color;
		position: relative;
		&+&{
			margin-top: 24/@rem;
		}
		.ideal-check{
			position: absolute;
			top: 2/@rem;
			right: 0;
			margin-right: 0;
			&.checked{
				background-color: @cGold;
			}
		}
		&._active{
			font-weight: 600;
		}
	}
}
.tablet.portrait{
	.deposit-filter{
		&__block{
			&-top{
				&-inner{
					padding: 45/@rem 40/@rem 30/@rem;
				}
			}
		}
		&__items{
			margin-top: 4rem;
		}
		&__options{
			width: 100%;
			float: none;
		}
		&__checks{
			float: none;
			width: 100%;
			margin-left: 0;
			margin-top: 4rem;
			.clearfix;
		}
		&__check{
			font-size: 14/@rem;
			letter-spacing: -0.19/@rem;
			line-height: 20/@rem;
			float: left;
			&:last-child{
				float: right;
				margin-left: 0;
			}
			&+.deposit-filter__check{
				margin-top: 0;
				margin-left: 3rem;
			}
			.ideal-check{
				position: static;
				margin-right: 1.6rem;
			}
		}
	}
}
.mobile{
	.deposit-filter{
		&__block{
			&-top{
				&-inner{
					padding: 33/@rem 30/@rem 11/@rem;
				}
			}
			&-bottom{
				&-inner{
					padding: 20/@rem 30/@rem 30/@rem;
				}
			}
		}
		&__counter{
			float: none;
			max-width: 100%;
			font-size: 1.5rem;
			&:empty+.deposit-filter__reset{
				margin-top: 0;
			}
		}
		&__items{
			margin-top: 4rem;
		}
		&__reset{
			float: none;
			display: inline-block;
			vertical-align: top;
			margin-top: 2rem;
		}
		&__options{
			width: 100%;
			float: none;
			.deposit-calc__option + .deposit-calc__option{
				margin-top: 2rem;
			}
		}
		&__option{
			.clearfix;
			&+.deposit-filter__option{
				margin-top: 1.4rem;
			}
			&-title{
				padding-top: 0;
				float: none;
				width: 100%;
			}
			&-fields{
				margin-left: 0;
				margin-top: 1rem;
			}
		}
		&__checks{
			float: none;
			width: 100%;
			margin-left: 0;
			margin-top: 2rem;
		}
		&__check{
			font-size: 14/@rem;
			line-height: 20/@rem;
			float: left;
			width: 50%;
			margin-bottom: 2rem;
			white-space: nowrap;
			&:last-child{
				width: 100%;
			}
			&+.deposit-filter__check{
				margin-top: 0;
			}
			.ideal-check{
				position: static;
				margin-right: 1.6rem;
			}
		}
	}
}