.b-menu-visible{
	.b-menu{
		position: relative;
		left: 0;
		top: 0;
		visibility: visible;
		opacity: 1;
		display: block;
	}
	.header__bottom-block{
		 border-top: 1px solid whitesmoke;
		 border-bottom: 1px solid whitesmoke;
	 }
	.header__search-btn{
		background-image: url('@{pathToImg}icons/search_black.svg');
	}
	.header__menu-link{
		.color(@text-color);
	}
	.grid,.footer{
		.hide-block;
	}
}

.b-menu{
	//padding-top: 5.3rem;
	padding-bottom: 50/@rem;
	transition: opacity .7s, visivility .7s;
	background-color: #fff;
	.hide-block;
	&__tabs{
		padding-top: 15/@rem;
		border-bottom: 1px solid whitesmoke;
		padding-bottom: 10/@rem;
		&-in{
			text-align: justify;
			line-height: 0;
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
	}
	&__content{
		padding-top: 3.5rem;
		&-block{

		}
	}
	&__tab{
		display: inline-block;
		vertical-align: top;
		line-height: 2rem;
		font-weight: 600;
		&._active{
			.color(@text-color);
			cursor: default;
		}
	}
	&__col{
		float: left;
		width: 250/@rem;
		&._1{
		}
		&._2{
			width: 241/@rem;
		}
		&._3{
			width: 279/@rem;
		}
		&._4{
		}
		&+&{
			margin-left: 50/@rem;
		}
	}
	&__item{
		margin-bottom: 25/@rem;
		&._section{
			&+&{
				margin-top: 47/@rem;
			}
			.b-menu__item-link{
				text-transform: uppercase;
			}
		}
		&-link{
			font-size: 16/@rem;
			font-weight: 600;
			line-height: 25/@rem;
			.color(@text-color);
		}
	}
	&__submenu{
		margin-top: -3/@rem;
		margin-bottom: 47/@rem;
		&-item{
			margin-bottom: 20/@rem;
		}
		&-link{
			.color(@text-color);
		}
	}
	&__tablet{
		.clearfix;
		&-col{
			width: 48%;
			float: left;
		}
	}
}
.tablet.portrait{
	.b-menu-visible{
		.header{
			&__top{
				border-bottom: 1px solid whitesmoke;
			}
			&__bottom-block{
				display: none;
			}
		}
	}
	.b-menu{
		//padding-top: 34/@rem;
		padding-bottom: 35/@rem;
		&__tabs{
			font-size: 1.2rem;
		}
		&__col{
			width: 100%!important;
			padding-right: 20/@rem;
			&._3{
				margin-top: 20/@rem;
			}
			& +.b-menu__col{
				margin-left: 0;

			}
		}
	}
}