.deposit-calc{
	&__block{
		.clearfix;
		margin-top: 33/@rem;
	}
	&__options{
		float: left;
		width: 870/@rem;
		background-color: white;
		border-radius: 2/@rem;
		box-shadow: 0 1px 3/@rem rgba(211, 211, 211, 0.8);
		padding: 40/@rem 40/@rem 48/@rem;
		min-height: 320/@rem;
	}

	&__option{
		position: relative;
		&+&{
			margin-top: 50/@rem;
		}
		&-fields{
			width: 173/@rem;
			height: 48/@rem;
			position: absolute;
			right: 0;
			bottom: 0;
			//z-index: 1;
		}
		&-select{
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			bottom: 0;
			width: 63/@rem;
			font-family: @fRoboto!important;
			.chosen-container-single .chosen-single{
				font-family: @fRoboto!important;
				font-weight: 500;
			}
			select{
				font-size: 20/@rem;
				font-weight: 600;
				letter-spacing: -0.28/@rem;
				border-color: #e8e8e8;
				padding-right: 1rem;
				-webkit-appearance: none;
				background: url('@{pathToImg}icons/select.svg') no-repeat calc(~"100% - 1.5rem") center #fff;
				background-size: 7/@rem 4/@rem;
				/* for FF */
				-moz-appearance: none;
				text-indent: 0.01px;
				text-overflow: '';
				/* for IE */
				-ms-appearance: none;
				appearance: none!important;
				&::-ms-expand {
					display: none;
				}
			}
			.chosen-container{
				z-index: 10;
				background-color: #fff;
				.chosen-drop{
					z-index: 10;
					background-color: #fff;
				}
				.chosen-single{
					font-size: 2rem;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			.chosen-container-single {

			}
			.chosen-container-single .chosen-single div{
				width: 2.2rem;
			}
		}
		&-field{
			height: 48/@rem;
			input[type="text"]{
				font-size: 20/@rem;
				font-weight: 600;
				letter-spacing: -0.28/@rem;
				border-color: #e8e8e8;
			}
		}
		&-block{
			margin-right: 200/@rem;
		}
		&-title{
			font-size: 16/@rem;
			font-weight: 400;
			letter-spacing: -0.22/@rem;
			margin-bottom: 17/@rem;
		}
	}
	&__info{
		float: right;
		width: 270/@rem;
		min-height: 320/@rem;
		background-color: white;
		border-radius: 2/@rem;
		box-shadow: 0 1px 3/@rem rgba(211, 211, 211, 0.8);
		padding: 30/@rem 40/@rem 30/@rem 40/@rem;
		&-blocks{
			padding-left: 10/@rem;
		}
		&-block{
			&+&{
				margin-top: 24/@rem;
			}
			font-weight: 600;
			&-title{
				color: @cGray;
				font-size: 10/@rem;
				letter-spacing: 0.5/@rem;
				line-height: 14/@rem;
			}
			&-text{
				font-size: 30/@rem;
				line-height: 30/@rem;
				letter-spacing: -0.5/@rem;
				color: @title-color;
				margin-top: 2/@rem;
				white-space: nowrap;
			}
		}
		&-btn{
			width: 100%;
			margin-top: 24/@rem;
		}
	}

}

.ui-slider{
	border: 0;
	height: 4px;
	background-color: #f2f4f5;
	border-radius: 2px;
}
.ui-widget-header{
	background: @cGold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	width: 24px;
	height: 24px;
	background: @cGold;
	border: 6px  solid #fff;
	border-radius: 50%;
	margin-left: -12px;
	top: -10px;
	box-shadow: 0 0 15/@rem rgba(211, 211, 211, 0.5);
	cursor: pointer;
}
.ui-slider-handle{

	&.ui-state-hover/*,&.ui-state-focus*/{
		//background-image: url('@{pathToImg}icons/range_handle_hover.png')
	}
}

.tablet.portrait{
	.deposit-calc{
		&__block{
		}
		&__options{
			float: none;
			width: 100%;
		}
		&__info{
			float: none;
			width: 100%;
			padding: 30/@rem 40/@rem;
			min-height: 0;
			margin-top: 2rem;
			.clearfix;
			&-blocks{
				padding-left:0;
				float: left;
				.clearfix;
			}
			&-block{
				float: left;
				&+.deposit-calc__info-block {
					margin-top: 0;
					margin-left: 43/@rem;
				}
				&-text{
					margin-top: 0.4rem;
				}
			}
			&-btn{
				width: auto;
				margin-top: 0;
				float: right;
			}
		}
	}
}
.mobile{
	.deposit-calc{
		&__block{
			margin-top: 2.5rem;
		}
		&__options{
			float: none;
			width: 100%;
			padding: 3.2rem 3rem 3rem;
		}
		&__option{
			position: relative;
			&+.deposit-calc__option{
				margin-top: 2.1rem;
			}
			&-fields{
				width: 100%;
				position: relative;
				margin-top: 22/@rem;
			}
			&-select{
				border-radius: 0;
			}
			&-block{
				margin-right:0;
			}
		}
		&__info{
			float: none;
			width: 100%;
			margin-top: 2rem;
			padding: 1.9rem 3rem 2rem 3rem;
			min-height: 0;
			&-blocks{
				padding-left:0;
				.clearfix;
			}
			&-block{
				width: 33%;
				float: left;
				padding-right: 1rem;
				&:first-child{
					width: 32%;
				}
				&:nth-child(2){
					width: 41%;
				}
				&:nth-child(3){
					width: 27%;
				}
				&+.deposit-calc__info-block{
					margin-top: 0;
				}
				&-text{
					font-size: 24/@rem;
					line-height: 30/@rem;
					letter-spacing: -0.4/@rem;
					margin-top: 0.4rem;
				}
			}
			&-btn{
				width: 100%;
				margin-top: 2rem;
			}
		}

	}
}