.b-card{
	width: 270/@rem;
	height: 169/@rem;
	background: none no-repeat center;
	background-size: cover;
	box-shadow: none;
	transition: box-shdow @animTime,transform @animTime;
	&._blue{
		background-image: url('@{pathToImg}cards/blue.png');
	}
	&._red{
		background-image: url('@{pathToImg}cards/red.png');
	}
	&._client{
		background-image: url('@{pathToImg}cards/client.png');
	}
	&._mc-platinum{
		background-image: url('@{pathToImg}cards/mc-platinum.png');
	}
	&._visa-gold{
		background-image: url('@{pathToImg}cards/visa-gold.png');
	}
	&._mc-gold{
		background-image: url('@{pathToImg}cards/mc-gold.png');
	}
	&._mc-gold-pp{
		background-image: url('@{pathToImg}cards/mc-gold-pp.png');
	}
	&._mc-platinum-pp{
		background-image: url('@{pathToImg}cards/mc-platinum-pp.png');
	}
	&._mc-standart{
		background-image: url('@{pathToImg}cards/mc-standart.png');
	}
	&._mc-unembossed{
		background-image: url('@{pathToImg}cards/mc-unembossed.png');
	}
	&._visa-gold-pw{
		background-image: url('@{pathToImg}cards/visa-gold-pw.png');
	}
	&._visa-platinum{
		background-image: url('@{pathToImg}cards/visa-platinum.png');
	}
	&._visa-platinum-pw{
		background-image: url('@{pathToImg}cards/visa-platinum-pw.png');
	}
	&._visa-unembossed{
		background-image: url('@{pathToImg}cards/visa-unembossed.png');
	}
	&._other{
		width: 22.7rem;
		background-image: url('@{pathToImg}cards/other.png');
	}
}
.get-card{
	.tablet.portrait &{
		.deposit-info__right{
			margin-top: 2rem;
		}
	}
	.mobile &{
		.deposit-info__right{
			margin-top: 1.8rem;
		}
		h3{
			margin-top: 0;
		}
		h4{
			margin-bottom: 1rem;
		}
		p{
			font-size: 14/@rem;
			font-weight: 400;
			line-height: 20/@rem;
		}
	}
	h4{
		margin-top: 0;
		margin-bottom: 1.3em;
	}
	p{
		margin-bottom: 0;
		font-size: 1.6rem;
		line-height: 2.5rem;
	}
}
.card-open{
	&__step{
		padding-left: 3.6rem;
		position: relative;
		&+&{
			margin-top: 4rem;
		}
	}
	&__steps{
		.clearfix;
		&-wrap{
			border-radius: 2px;
			border: 1px solid @cBorder;
			padding: 3rem 3rem 4rem;
			margin-top: 3.2rem;
			.card-open{
				&__steps{
					&-col{
						width: 45%;
						&:first-child{
							width: 55%;
						}
					}
				}
				&__step{
					& + .card-open__step{
						margin-top: 3rem;
					}
				}
			}
		}
		&-col{
			float: left;
			width: 48%;
			&:first-child{
				width: 52%;
				padding-right: 2rem;
			}
		}
	}
}
.card{
	width: 470/@rem;
	height: 290/@rem;
	border-radius: 16/@rem;
	box-shadow: 0 2/@rem 12/@rem rgba(23, 24, 26, 0.4), 0 1px 4/@rem rgba(23, 24, 26, 0.3);
	::-webkit-input-placeholder {color:#7a7d7d;opacity: 0.2;}
	::-moz-placeholder          {color:#7a7d7d;opacity: 0.2;}/* Firefox 19+ */
	:-moz-placeholder           {color:#7a7d7d;opacity: 0.2;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#7a7d7d;opacity: 0.2;}
	&._light{
		.help-ico{
			background-color: #7e858c;
		}
		::-webkit-input-placeholder {color:white;opacity: 0.3;}
		::-moz-placeholder          {color:white;opacity: 0.3;}/* Firefox 19+ */
		:-moz-placeholder           {color:white;opacity: 0.3;}/* Firefox 18- */
		:-ms-input-placeholder      {color:white;opacity: 0.3;}
		.card{
			&__title{
				opacity: 0.6;
			}
			&__fields{
				input[type='text'], input[type='password']{
					border-bottom: 2/@rem solid #7e858c;
					color:  fade(white, 70%);
				}
			}
			&__block{
				&-title{
					color: #fff;
				}
			}
		}
	}
	.help-ico{
		width: 16/@rem;
		height: 16/@rem;
		background-color: rgba(207, 206, 206, 0.3);
		border-radius: 50%;
		color: #feffff;
		font-size: 10/@rem;
		font-weight: 600;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-left: 7/@rem;
	}
	&__inner{
		padding: 44/@rem 30/@rem 0;
	}
	&__title{
		opacity: 0.3;
		color: white;
		font-size: 16/@rem;
		line-height: 1;
		font-weight: 300;
	}
	&__fields{
		margin-top: 56/@rem;
		input[type='text'], input[type='password']{
			border-radius: 0;
			border: 0;
			border-bottom: 2/@rem solid #56565b;
			color: fade(#e3e3e5,50%);
			font-size: 20/@rem;
			font-weight: 400;
			padding: 0;
			text-transform: uppercase;
			letter-spacing: 0.7/@rem;
			background: transparent;
		}
		.clearfix;
		&-col{
			float: left;
			&._1{
				width: 230/@rem;
			}
			&._2{
				width: 138/@rem;
				margin-left: 30/@rem;
			}
		}
	}
	&__block{
		&+&{
			margin-top: 19/@rem;
		}
		&-title{
			color: #e3e6e6;
			font-size: 10/@rem;
			font-weight: 400;
			line-height: 16/@rem;
			text-transform: uppercase;
			letter-spacing: 0.5/@rem;
		}
		&-field{
			height: 37/@rem;
		}
	}
}
.tablet.portrait{
	.card{
		width: 343/@rem;
		height: 224/@rem;
		&__inner{
			padding: 2.7rem 1.5rem 0;
		}
		&__title{
			font-size: 14/@rem;
		}
		&__fields{
			margin-top: 3rem;
			input[type='text'], input[type='password']{
				font-size: 18/@rem;
			}
			&-col{
				&._1{
					width: 192/@rem;
				}
				&._2{
					width: 111/@rem;
					margin-left: 10/@rem;
				}
			}
		}
	}
	.card-open{
		&__steps{
			&-wrap{
				.card-open{
					&__steps{
						&-col{
							width: 48%;
							&:first-child{
								width: 52%;
							}
						}
					}
					&__step{
						& + .card-open__step{
							margin-top: 2rem;
						}
					}
				}
			}
		}
	}
}
.mobile{
	.card{
		width: 33.5rem;
		height: 45.5rem;
		margin-left: auto;
		margin-right: auto;
		border-radius: 16/@rem;
		&__inner{
			padding: 3.4rem 4.8rem 0;
		}
		&__title{
			font-size: 18/@rem;
			letter-spacing: -0.3/@rem;
		}
		&__fields{
			margin-top: 4.6rem;
			input[type='text'], input[type='password']{
				font-size: 2.4rem;
				letter-spacing: 0;
			}
			.clearfix;
			&-col{
				float: none;
				&._1{
					width: 100%;
				}
				&._2{
					width:  100%;
					margin-left:0;
					margin-top: 2.7rem;
				}
			}
		}
		&__block{
			&+.card__block{
				margin-top: 2.7rem;
			}
			&-title{
				font-size: 1.3rem;
				letter-spacing: 0.2/@rem;
			}
			&-field{
				height: 4.4rem;
			}
		}
	}
	.card-open{
		&__step{
			&+.card-open__step{
				margin-top: 2rem;
			}
		}
		&__steps{
			.clearfix;
			&-col{
				float: none;
				width: 100%!important;
				padding-right: 0;
				&+.card-open__steps-col{
					margin-top: 2rem;
				}
			}
		}
	}
}