.choose-city{
	&:after{
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(56, 56, 56, 0.6);
		z-index: 999;
		//transition: background-color @animTime 0.5s;
	}

	.mobile &, .tablet.portrait &{
		.grid,.footer,.header{
			.hide-block;
		}
	}
}
.city{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background: #fff;
	z-index: 9999;
	padding-bottom: 6.8rem;
	&__form{
		position:relative;
		border-bottom: 1px solid @cBorder;
		&-in{
			padding: 25/@rem 0;
			height: 80/@rem;
		}
		&-close{
			width: 1.6rem;
			height: 1.6rem;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -0.8rem;
			.background('@{pathToImg}icons/close_red.png');
		}
		&-field{
			margin-left: 5.5rem;
			margin-right: 2rem;
			height: 3rem;
			input{
				border: 0;
				padding:0;
			}
		}
	}
	&__block{
		padding-top: 29/@rem;
	}
	&__letters{
		text-align: justify;
		line-height: 0;
		margin-left: -0.7rem;
		margin-right: -0.7rem;
		&:after{
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
	&__letter{
		//width: 2rem;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		text-align: center;
		display: inline-block;
		background-color: transparent;
		vertical-align: top;
		color: #191919;
		font-size: 24/@rem;
		font-weight: 600;
		span{
			position: relative;
			z-index: 2;
			display: block;
			line-height: 20/@rem;
			padding:0.5rem;
		}
		/*&:first-child{
			padding-left: 0;
			padding-right: 0;
		}
		&:last-child{
			padding-left: 0;
			padding-right: 0;
		}*/
		&._active{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: -5/@rem;
				left: -5/@rem;
				right: -5/@rem;
				bottom: -5/@rem;
				z-index: 1;
				background-color: @cGold;
				border-radius: 50%;
			}
			color: #fff;
		}
	}
	&__items{
		margin-top: 3.7rem;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 2rem;
			right: 2rem;
			bottom: 0;
			height: 30/@rem;
			background-image: linear-gradient(to top, white 0%, transparent 100%);
		}
		&-block{
			.clearfix;
			padding-left:55/@rem;
			max-height: 240/@rem;
			overflow-y: auto;
			padding-bottom: 1rem;
			/*&-col{
				float: left;
				width: 20rem;
				padding-bottom: 2rem;
				padding-right: 0.5rem;
			}*/
		}
	}
	&__item{
		margin-bottom: 1rem;
		float: left;
		width: 20rem;
		padding-right: 0.5rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&._disabled{
			opacity: 0.3;
		}
		&-link{
			color: @text-color;
			font-size: 14/@rem;
			line-height: 1;
		}
	}
}
.tablet.portrait{
	.city{
		bottom: 0;
		.mCSB_scrollTools .mCSB_draggerContainer{
			//height: 220/@rem;
		}
		&__form{
			&-in{
				position: relative;
			}
		}
		&__block{
			padding-top: 31/@rem;
		}
		&__letters{
			margin-left: -0.5rem;
		}
		&__letter{
			width: 2rem;
			height: 3rem;
			font-size: 18/@rem;
			span{
				padding: 0.5rem 0;
			}
			&._active{
				&:after{
					top: 0;
					bottom: 0;
				}
			}
		}
		&__item{
			width: 16.5rem;
		}
		&__items{
			margin-top: 35/@rem;
			&:after{
				left: 0;
				right: 0;
			}
			&-block{
				padding-left:0;
				max-height: calc(100vh - 22rem);
			}
		}
	}
}
.mobile{
	.city{
		.mCSB_scrollTools .mCSB_draggerContainer{
			//height: 220/@rem;
		}
		bottom: 0;
		.grid__inner{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		&__form{
			&-in{
				padding: 23/@rem 0;
				height: 75/@rem;
				position: relative;
			}
			&-field{
				margin-left: 3rem;
				input{
					padding: 0;
				}
			}
		}
		&__block{
			padding-top: 1.3rem;
		}
		&__letters{
			text-align: left;
			line-height: 0;
			padding: 0.6rem 2rem;
			margin-right: -2rem;
			margin-left: -2rem;
			&:after{
				display: none;
			}
		}
		&__letter{
			height: 3rem;
			font-size: 18/@rem;
			//padding: 0.5rem 0.2rem;
			width: 3rem;
			span{

			}
			&._active{
				&:after{
					content: '';
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
			}
		}
		&__items{
			margin-top: 3.2rem;
			&-block{
				.clearfix;
				padding-left:4/@rem;
				max-height: calc(100vh - 24rem);
			}
		}
		&__item{
			margin-bottom: 2.2rem;
			width: 16.2rem;
			&-link{
				font-size: 16/@rem;
				//opacity: 0.3;
			}
		}
	}
}