.decree{
	h2{
		text-align: left;
	}
	&__items{

	}
	&__item{
		.clearfix;
		&.selected{
			background-color: fade(#d8d8d8,14%);
		}
		&-num{
			float: left;
			width: 5rem;
			text-align: center;
		}
		&-title{
			float: left;
			width:47rem;
		}
		&-text{
			float: left;
			width: 50rem;
		}
	}
}