.deposit{
	&__text{
		color: #919599;
		font-size: 12/@rem;
		font-weight: 400;
		letter-spacing: 0.04/@rem;
		line-height: 20/@rem;
		padding-top: 25/@rem;
		p{
			margin: 0;
			&+p{
				margin-top: 3rem;
			}
		}
	}
	&__info-img{
		height: 40rem;
		background: none no-repeat center;
		background-size: cover;
		margin-bottom: 4rem;
		margin-top: -2rem;
	}
	&__payments{
		&-blocks{
			padding-bottom: 7rem;
		}
	}

}
.deposit-info{
	.clearfix;
	&__left{
		float: left;
		width: 570/@rem;
	}
	&__right{
		float: right;
		width: 470/@rem;
	}
	&__block{
		&._blocks{
			h3{
				margin-top: 0;
			}
		}
		&+&{
			margin-top: 71/@rem;
		}
	}
}
.deposit-scale{
	margin-top: 73/@rem;
	th{
		border-bottom: 1px solid @cBorder;
	}
	&__top-text{
		font-size: 10/@rem;
		font-weight: 600;
		letter-spacing: 0.5/@rem;
		line-height: 14/@rem;
		color: @cGray;
		text-transform: uppercase;
		padding-right: 2rem;
	}
	&__bottom{
		color: #919599;
		letter-spacing: 0.04/@rem;
		margin-top: 21/@rem;
		font-size: 12/@rem;
		line-height: 20/@rem;
	}
	&__block{
		.clearfix;
		margin-left: -2rem;
		margin-right: -2rem;
		margin-top: 2rem;
	}
	&__tabs{
		border-top: 1px solid @cBorder;
		//border-bottom: 1px solid @cBorder;
		.clearfix;
	}
	&__tab{
		display: block;
		float: left;
		width: 33.33%;
		border-bottom: 4/@rem solid transparent;
		padding-top: 12/@rem;
		padding-bottom: 8/@rem;
		.color(@text-color);
		&._active{
			border-color: @cRed;
		}
		&+&{
			.deposit-scale__tab-in{
				border-left: 1px solid @cBorder;
			}
		}
		&-in{
			font-size: 16/@rem;
			font-weight: 600;
			letter-spacing: 0.05/@rem;
			line-height: 18/@rem;
			text-align: center;
		}
	}
	&__content{
		//margin-top: 10px;
	}
	&__table{
		border-top: 1px solid @cBorder;
		border-bottom: 1px solid @cBorder;
		table{
			table-layout: fixed;
		}
		td{
			padding-left: 1rem;
			padding-right: 1rem;
			text-align: center;
			&:first-child{
				text-align: left;
				padding-left: 2rem;
			}
			&:last-child{
				padding-right: 2rem;
			}
		}
		&-titles{
			color: @title-color;
			td{
				padding-top: 10/@rem;
				padding-bottom: 10/@rem;
				border-bottom: 1px solid @cBorder;
				&:first-child{
					font-size: 10/@rem;
					font-weight: 600;
					letter-spacing: 0.5/@rem;
					line-height: 14/@rem;
					color: @cGray;
				}
			}
		}
		&-row{
			background-color: whitesmoke;
			td{
				font-size: 16/@rem;
				line-height: 30/@rem;
				color: @title-color;
				padding-top: 1rem;
				padding-bottom: 1rem;
				font-weight: 600;
				&:first-child{
					color: @cRed;
				}
			}
		}
		table{
			width: 100%;
		}
	}

	.deposit-table__titles{
		td{
			padding-top: 20/@rem;
			padding-bottom: 20/@rem;
		}
	}
	.deposit-table th{
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.deposit-documents{
	&__content{
		border: 1px solid @cBorder;
		letter-spacing: -0.19/@rem;
		margin-top: 33/@rem;
		padding: 22/@rem 30/@rem 49/@rem 39/@rem;
	}
	&__passport{
		position: relative;
		min-height: 7rem;
		letter-spacing: -0.19/@rem;
		color: @title-color;
		padding-left: 7.8rem;
		padding-top: 11/@rem;
		padding-right: 4rem;

		&-ico{
			width: 56/@rem;
			height: 70/@rem;
			position: absolute;
			left: 0;
			top: 0;
			.background('@{pathToImg}icons/doc.png');
		}
	}
	&__inner{

	}
	&__blocks{

	}
	&__block{
		&._contacts{
			ul{
				margin-bottom: 0;
				margin-top: 4.3rem;
				li{
					&+li{
						margin-top: 3rem;
					}
				}
			}
		}
		ul{
			list-style: none;
			padding-left: 0;
			margin-top: 20/@rem;
			margin-bottom: 30/@rem;
			li{
				position: relative;
				padding-left: 3rem;
				&:before{
					content: '';
					position: absolute;
					left: 4/@rem;
					top: 1.1rem;
					width: 1rem;
					height: 1px;
					background-color: @cGold;

				}
			}
		}
	}
	&__title{
		font-size: 16/@rem;
		font-weight: 600;
		line-height: 25/@rem;
		letter-spacing: 0;
		margin-bottom: 28/@rem;
	}
	&__text{

	}
}
.deposit-table{
	width: 100%;
	//border-top: 1px solid #f2f4f5;
	border-top: 1px solid @cBorder;
	border-bottom: 1px solid @cBorder;
	&._rowspan-table{
		.deposit-table__row{
			&:nth-child(2n+1){
				background-color: #fff;
			}
			&._grey{
				background-color: fade(#d8d8d8,17%);
			}
			&._cut{
				td,th{
					&:first-child{
						padding-left: 1rem;
					}
				}
			}
		}
	}
	&__title{
		color: #3e3e3e;
		font-size: 20/@rem;
		font-weight: 600;
		line-height: 27/@rem;
		margin-top: 29/@rem;
		margin-bottom: 14/@rem;
	}
	td,th{
		padding-left: 1rem;
		padding-right: 1rem;
		&:first-child{
			padding-left: 2rem;
		}
	}
	&__titles{
		td{
			border-top: 1px solid @cBorder;
			border-bottom: 1px solid @cBorder;
			color: @cGray;
			font-size: 10/@rem;
			font-weight: 600;
			letter-spacing: 0.5/@rem;
			line-height: 14/@rem;
			text-transform: uppercase;
			padding-top: 12/@rem;
			padding-bottom: 12/@rem;
		}
	}
	&__row{
		td{
			font-size: 16/@rem;
			font-weight: 400;
			line-height: 30/@rem;
			color: @title-color;
			padding-top: 1rem;
			padding-bottom: 1rem;
			&.bold{
				font-weight: 600;
			}
		}
		&:nth-child(2n+1){
			background-color: fade(#d8d8d8,17%);
		}
	}
	th{
		color: @cRed;
		font-size: 14/@rem;
		font-weight: 600;
		line-height: 20/@rem;
		padding-top: 15/@rem;
		padding-bottom: 15/@rem;
	}
	.center{
		text-align: center;
	}
}
.deposit-conditions{
	border-bottom: 1px solid @cBorder;
	&__item{
		.clearfix;
		padding: 23/@rem 0;
		border-top: 1px solid @cBorder;
		&-block{
			float: left;
			width: 50%;
			font-size: 14/@rem;
			font-weight: 400;
			line-height: 25/@rem;
			padding-right: 2rem;
			&:first-child{
				font-weight: 600;
				color: @title-color;
			}
			&+&{
				padding-left: 1.5rem;
			}
		}
	}
}
.deposit-open{
	&__methods{
		margin-top: 33/@rem;
	}
	&__file{
		float: none;
		width: 100%!important;
		display: block;
		margin-top: 4rem;
		margin-bottom: -5rem;
	}
	&__method{
		border: 1px solid @cBorder;
		border-radius: 2/@rem;
		padding: 2.5rem 3rem 3rem;
		&+&{
			margin-top: 2rem;
		}
		&-title{
			font-size: 16/@rem;
			font-weight: 600;
			line-height: 25/@rem;
			margin-bottom: 19/@rem;
			a{
				display: block;
				position: relative;
				padding-right: 4rem;
				&:after{
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -5/@rem;
					width: 1.2rem;
					height: 1rem;
					.background('@{pathToImg}icons/arr_right_long_gold.svg');
				}
			}
		}
		&-content{
			//margin-top: 1.4rem;
			letter-spacing: -0.19/@rem;
		}
	}
	&__steps{
		margin-bottom: -26/@rem;
	}
	&__step{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-left: 3.6rem;
		margin-bottom: 40/@rem;
		&:nth-child(2n){
			width: 45%;
			margin-left: 5%;
		}
		&-num{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 20/@rem;
			font-weight: 700;
			letter-spacing: -0.67/@rem;
			line-height: 20/@rem;
			color: @cRed;
		}
	}
}
.deposit-doc{
	background-color: #fff;
	box-shadow: 0 1px 3/@rem rgba(211, 211, 211, 0.8);
	&__title{
		border-radius: 2/@rem;
		border-top: 6/@rem solid @cGold;
		display: block;
		padding: 2.4rem 6rem 2.6rem 4rem;
		font-size: 18/@rem;
		font-weight: 600;
		letter-spacing: 0.06/@rem;
		line-height: 24/@rem;
		.color(@text-color);
		position: relative;
		&._active{
			&:after{
				background-image: url('@{pathToImg}icons/close_small.svg');
				background-size: contain;
			}
		}
		&:after{
			content: '';
			position: absolute;
			right: 4rem;
			top: 50%;
			width: 1.2rem;
			height: 1rem;
			margin-top: -0.5rem;
			.background('@{pathToImg}icons/select.svg');
			background-size: 7/@rem 4/@rem;
		}
	}
	&__content{
		padding: 53/@rem 70/@rem 64/@rem;
		font-size: 16/@rem;
		line-height: 25/@rem;
		border-top: 1px solid #f2f4f5;
		.top-img{
			margin: 0 0 1rem 1rem;
			max-width: 300/@rem;
			height: auto;
			&+h3{
				margin-top: 0;
			}
		}
		.questions__items{
			padding: 0.5rem 3.5rem;
			ul{
				padding-left: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		h3{
			font-size: 24/@rem;
			font-weight: 600;
			line-height: 30/@rem;
			letter-spacing: 0;
			margin-bottom: 26/@rem;
			margin-top: 64/@rem;
			&:first-child{
				margin-top: 0;
			}
		}
		p{
			margin: 25/@rem 0;
		}
		ul{
			list-style: none;
			margin-left: 43/@rem;
			&+.questions__items{
				margin-top: 21/@rem;
			}
			li{
				position: relative;
				padding-left: 50/@rem;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 13/@rem;
					height: 2/@rem;
					width: 20/@rem;
					background-color: @cGold;
				}
				&+li{
					margin-top: 15/@rem;
				}
			}
		}
	}
}
.boxes-rent{
	&__sizes{
		.clearfix;
	}
	&__size{
		float: left;
		.deposit-table__title{
			margin-top: 0.7rem;
		}
		&._small{
			width: 835/@rem;
		}
		&._big{
			width: 30rem;
			margin-left: 3.5rem;
		}
	}
}
.tablet.portrait{
	.deposit{
		&__info-img{
			height: 17rem;
			margin-top: -2.4rem;
		}
		&__payments{
			&-blocks{
				padding-bottom: 7rem;
			}
			&-finished{
				td{
					padding-left: 0;
					padding-right: 1rem;
				}
				&-col{
					&-2{
						width: 43.5%;
						td{
							padding-right: 0;
						}
					}
				}
			}
		}
	}
	.boxes-rent{
		&__sizes{
			.clearfix;
		}
		&__size{
			float: none;
			.deposit-table__title{
				margin-top: 0.7rem;
			}
			&._small{
				width: 100%;
			}
			&._big{
				width: 100%;
				margin-top: 7rem;
				margin-left: 0;
			}
		}
	}
	.deposit__text{
		padding-top: 26/@rem;
		p{
			&+p{
				margin-top: 2rem;
			}
		}
	}
	.deposit-scale{
		.deposit-table__wrap{
			margin-left: -2.7rem;
			margin-right: -2.7rem;
		}
	}
	.deposit-documents{
		&__content{
			padding: 21/@rem 30/@rem 49/@rem 30/@rem;
		}
		&__inner{

		}
		&__blocks{
			.clearfix;
		}
		&__block{
			float: left;
			width: 48%;
			&._contacts{
				float: none;
				width: 100%;
				ul{
					margin-top: 0;
					li{
						&+li{
							margin-top: 2rem;
						}
					}
				}
			}
			&:nth-child(2n){
				margin-left: 4%;
			}
		}
		&__title{
			font-size: 16/@rem;
			font-weight: 600;
			line-height: 25/@rem;
			letter-spacing: 0;
			margin-bottom: 28/@rem;
		}
		&__text{

		}
	}
	.deposit-info{
		&__left{
			float: none;
			width: 100%;
		}
		&__right{
			float: none;
			width: 100%;
			margin-top: 7.3rem;
		}
		&__block{
			&+.deposit-info__block{
				margin-top: 81/@rem;
			}
		}
	}
	.deposit-conditions{
		&__item{
			&-block{
				width: 56.5%;
				padding-left: 0!important;
				&:first-child{
					width: 43.5%;
				}
			}
		}
	}
	.deposit-open{
		&__method{
			padding: 3.2rem 3rem 3.5rem;
		}
		&__steps{
			&._two-cols{
				.deposit-open__step{
					margin-right: 0;
					width: 50%;
					&:nth-child(2n){
						margin-left: 2%;
						width: 48%;
					}
				}
			}
		}
		&__step{
			width: 20.5rem;
			margin-right: 1.8rem;
			&:nth-child(2n){
				margin-left:0;
			}
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	.deposit-doc{
		margin-bottom: 1rem;
		.top-img{
			margin: 0.6rem 0.6rem 1rem 1rem;
		}
		strong{
			letter-spacing: -0.6/@rem;
		}
		&__title {
			padding: 2.8rem 6rem 2.7rem 4rem;
		}
		&__content{
			padding: 5rem 6rem 6.4rem 4rem;
			ul{
				margin-left: 5rem;
				padding-left: 0;
			}
		}
		.questions__items {
			padding: 0.5rem 0;
			ul{
				margin-left: 0;
			}
		}
	}
}
.mobile{
	.boxes-rent{
		&__sizes{

		}
		&__size{
			float: none;
			.deposit-table__title{
				margin-top: 0;
			}
			&._small{
				width: 100%;
				.deposit-table{
					width: 835/@rem;
					&__wrap{
						overflow: auto;
						-webkit-overflow-scrolling: touch;
					}
				}
			}
			&._big{
				width: 100%;
				margin-top: 6rem;
				margin-left: 0;
			}
		}
	}
	.deposit{
		&__payments{
			&-blocks{
				padding-bottom: 4rem;
			}
			&-active{
				.deposit-table{
					&__row{
						td{
							font-size: 1.2rem;
							line-height: 2rem;
							padding-top: 0.8rem;
							padding-bottom: 0.8rem;
							vertical-align: top;
						}
					}

				}
			}
		}
		&__text{
			padding-top: 18/@rem;
			p{
				&+p{
					margin-top: 1.6rem;
				}
			}
		}
		&__info-img{
			margin-bottom: 3.3rem;
			margin-top: -3rem;
			height: 17rem;
		}
		.inner__info{
			padding-bottom: 0;
		}
		.grid__inner{
			padding-right: 2rem;
			padding-left: 2rem;
		}
	}
	.deposit-documents{
		&__content{
			padding: 22/@rem 30/@rem 40/@rem 30/@rem;
		}
		&__passport{
			padding-right: 0;
		}
		&__block._contacts{
			ul{
				margin-top: 0;
				li{
					&+li{
						margin-top: 2rem;
					}
				}
			}
		}
	}
	.deposit-info{
		&__left{
			float: none;
			width: 100%;
		}
		&__right{
			float: none;
			width: 100%;
			margin-top:6rem;
		}
		&__block{
			&+.deposit-info__block{
				margin-top: 6rem;
			}
		}
	}
	.deposit-table{
		&__title{
			font-size: 1.8rem;/*активные выплаты*/
			line-height: 2.6rem;
			margin-top: 1.9rem;
		}
		&__wrap{
			margin: 0 -2rem;
		}
		th{
			font-size: 12/@rem;
			line-height: 15/@rem;
			padding-top: 1.8rem;
			padding-bottom: 2.2rem;
		}
	}
	.deposit-conditions{
		&__item{
			padding: 2rem 0;
			&-block{
				width: 45%;
				font-size: 12/@rem;
				line-height: 20/@rem;
				padding-right: 2rem;
				&+.deposit-conditions__item-block{
					width: 55%;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.deposit-open{
		&__methods{
			margin-top: 0;
		}
		&__file{
			margin-top: 3rem;
			margin-bottom: -3rem;
		}
		&__method{
			padding: 2.4rem 3rem 2.6rem;
			&+&{
				margin-top: 2rem;
			}
			c
			&-content{
				//margin-top: 2.8rem;
			}
		}
		&__steps{
			padding-top: 0;
			//margin-top: 2.3rem;
			margin-bottom: -2rem;
		}
		&__step{
			display: block;
			width: 100%;
			//padding-left: 4rem;
			margin-bottom: 2rem;
			&:nth-child(2n){
				width: 100%;
				margin-left:0;
			}
		}
	}
	.deposit-doc{
		&__title{
			padding: 2.7rem 6rem 2.6rem 4rem;
		}
		&__content{
			padding: 2rem 2rem 4rem 4rem;
			.top-img{
				max-width: 100/@rem;
			}
		}
	}
}