.docs-date{
	max-width: 97rem;
	margin: 0 auto;
	&._issuing-documents{
		.docs-date__month{
			.docs-date__month{
				&-title{
					width: 19.9rem;
					position: static;
					float: left;
					border-right: 1px solid @cBorder;
				}
				&-content{
					border-left: 1px solid @cBorder;
					margin-left: 19.8rem;
					ul{
						padding-left: 3rem;
					}
				}
			}
		}
	}
	&._long-titles{
		.docs-date__month{
			&-title{
				width: 19.8rem;
			}
			&-content{
				border-left: 1px solid @cBorder;
				margin-left: 19.8rem;
			}
		}
	}
	&__years{
		padding: 25/@rem 40/@rem;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(211, 211, 211, 0.8);
	}
	&__year{
		font-size: 34/@rem;
		font-weight: 700;
		letter-spacing: -0.47/@rem;
		line-height: 34/@rem;

		display: inline-block;
		vertical-align: top;
		width: auto;
		text-align: center;
		&-link{
			.color(@title-color);
			&._active{
				.color(@cGold);
			}
			&._disabled{
				cursor: default;
				.color(#dedfe0);
			}
		}
	}
	&__content{
		margin-top: 3rem;

	}
	&__block{
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(211, 211, 211, 0.8);
		border: 1px solid @cBorder;
	}
	&__month{
		.clearfix;
		position: relative;
		&+&{
			border-top: 1px solid @cBorder;
		}
		&-title{
			position: absolute;
			left: 0;
			top: 0;
			width: 14rem;
			font-size: 16/@rem;
			font-weight: 600;
			line-height: 26/@rem;
			color: @title-color;
			padding: 23/@rem 1rem 19/@rem 29/@rem;
		}
		&-content{
			border-left: 1px solid @cBorder;
			margin-left: 13.8rem;
			h4{
				margin-top: 0;
				padding-top: 2.2rem;
				padding-left: 2rem;
				margin-bottom: 2rem;
				.mobile &, .tablet.portrait &{
					margin-bottom: 1rem;
				}
			}
			ul{
				list-style: none;
				padding-left: 0;
				margin-top: 0;
				padding-top: 2rem;
				margin-bottom: 0;
				padding-bottom: 3rem;
				font-size: 1.4rem;
				font-weight: 400;
				letter-spacing: -0.19/@rem;
				line-height: 2rem;
				white-space: normal;
				li{
					position: relative;
					padding-left: 3rem;
					&:before{
						content: '';
						position: absolute;
						left: 4/@rem;
						top: 1.1rem;
						width: 1rem;
						height: 1px;
						background-color: @cGold;
					}
				}
			}
			.file{
				float: none!important;
				border: 0;
				width: 100%!important;
				display: block;
				margin-top: 0;
				min-height: 6rem;
				&__date{
					font-weight: 600;
				}
				&__name{
					padding: 1rem 0;
				}
			}
		}
	}
}
.tablet.portrait{
	.docs-date{
		&__month{
			&-content{
				.file{
					&__inner{
						//.middle;
						//height: 4rem;
						//overflow: hidden;
					}
					&__date{
						font-weight: 600;
					}
					&__name{
						padding: 0;
						//.middle__inner;
						//white-space: normal;
					}
				}
			}
		}
	}
}
.mobile{
	.docs-date{
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		&._long-titles{
			.docs-date__month{
				&-title{
					width: 13.8rem;
					font-size: 1.2rem;
					padding: 1.6rem 1rem 1.9rem 1.8rem;
					line-height: 1.6rem;
				}
				&-content{
					margin-left: 13.8rem;
				}
			}
		}
		&__years{
			padding: 20/@rem;
		}
		&__year{
			font-size: 24/@rem;
			letter-spacing: -0.33/@rem;
			line-height: 24/@rem;
		}
		&__content{
			margin-top: 2rem;
		}
		&__month{
			&-title{
				width: 10rem;
				font-size: 14/@rem;
				padding: 24/@rem 1rem 19/@rem 18/@rem;
			}
			&-content{
				margin-left: 10.4rem;
				.file{
					&__name{
						padding:0;
						white-space: nowrap;
						overflow: hidden;
					}
					&__props{
						display: block;
					}
				}
			}
		}
	}
}