.header{
	position: relative;
	&._fixed{
		z-index: 1000;
		.header{
			&__bottom{
				background-color: #fff;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				&-block{
					border-top: 1px solid whitesmoke;
					border-bottom: 1px solid whitesmoke;
					background-color: #fff;
				}
			}
			&__search-btn{
				background-image: url('@{pathToImg}icons/search_black.svg');
			}
			&__menu-link{
				.color(@text-color);
			}
			&__menu-btn{
				background-image: url('@{pathToImg}icons/burger_black.svg');
			}
		}

	}
	//transition: background-color @animTime;
	&__phones{
		float: right;
		margin-right: 30/@rem;
		margin-top: -1px;
	}
	&__phone{
		&-link{
			color: #3e3e3e;
			font-size: 16/@rem;
			font-weight: 600;
			line-height: 20/@rem;
			text-decoration: none;
		}
	}
	&__top{
		padding-top: 35/@rem;
		padding-bottom: 30/@rem;
		&-inner{

		}
		&-right{
			float: right;
			.clearfix;
		}
		&-btn{
			height: 40/@rem;
			padding: 1rem 2.5rem;
			box-shadow: none;
			float: right;
			font-size: 14/@rem;
			letter-spacing: 0.5/@rem;
		}
	}
	&__logo{
		width: 504/@rem;
		height: 41/@rem;
		float: left;
		.background('@{pathToImg}logo.svg');
		&-ico{
			width: 114/@rem;
			height: 50/@rem;
			float: left;
			margin-left: 30/@rem;
			margin-top: -5/@rem;
			.background('@{pathToImg}logo.png');
		}
	}
	&__bottom{
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		right: 0;
		border-bottom: 1px solid fade(white,20%);
		transition: background-color 0.2s;
		background-color: transparent;
		&-block{
			padding-top: 21/@rem;
			transition: background-color 0.2s;
			background-color: transparent;
			//padding-bottom: 20/@rem;
		}
	}
	&__search{
		&-btn{
			width: 20/@rem;
			height: 20/@rem;
			position: absolute;
			right: 0;
			top: -1/@rem;
			.background('@{pathToImg}icons/search.svg');
		}
	}
	&__menu{
		text-align: justify;
		line-height: 0;
		padding-left: 70/@rem;
		padding-right: 70/@rem;
		&-btn{
			width: 20/@rem;
			height: 16/@rem;
			position: absolute;
			left: 0;
			top: 2/@rem;
			.background('@{pathToImg}icons/burger.svg');
			&._active{
				background-image:url('@{pathToImg}icons/burger-close.svg')!important;
			}
		}
		&:after{
			content: '';
			width: 100%;
			line-height: 0;
			display: inline-block;
			vertical-align: top;
		}
		&-item{
			display: inline-block;
			vertical-align: top;
		}
		&-link{
			font-size: 14/@rem;
			font-weight: 600;
			line-height: 20/@rem;
			text-transform: uppercase;
			.color(#fff);
			letter-spacing: 0.4/@rem;
			padding-bottom: 1.8rem;
			border-bottom: 2/@rem solid transparent;
			display: inline-block;
			vertical-align: top;
			&._active{
				border-color:  @cRed;
			}
		}
	}
}
.tablet.portrait{
	.header{
		&__phones{
			margin-right: 28/@rem;
			margin-top:11/@rem;
		}
		&__phone{
			float: left;
			&-link{
				font-size: 18/@rem;
				margin-left: 28/@rem;
			}
		}
		&__top{
			padding-top: 35/@rem;
			padding-bottom: 30/@rem;
			&-right{
				float: left;
				width: 100%;
				margin-top: 30/@rem;
				padding-right: 60/@rem;
				position: relative;
			}
			&-btn{
				font-size: 12/@rem;
			}
		}
		&__logo{
			&-ico{
				float: right;
			}
		}
		&__bottom{
			//padding-top: 20/@rem;
			//padding-bottom: 19/@rem;
		}
		&__search{
			&-btn{
				background-image: url('@{pathToImg}icons/search_red.svg');
				top: 1rem;
			}
		}
		&__menu{
			padding-left: 0;
			padding-right: 0;
			//height: 20/@rem;
			&-btn{
				background-image: url('@{pathToImg}icons/burger_red.svg');
				&._active{
					background-image:url('@{pathToImg}icons/burger-close.svg');
				}
				top: 1.3rem;
			}
			&-link{
				font-size: 12/@rem;
				padding-bottom: 1.6rem;
			}
		}
	}
}
.mobile{
	.header{
		&__phones{
			float: none;
			margin-right: 0;
			margin-top: 17/@rem;
			padding-left: 68/@rem;
			position: relative;
			.clearfix;
			&:before{
				content: '';
				position: absolute;
				left: 15/@rem;
				top: 0;
				width: 2.8rem;
				height:2.8rem;
				.background('@{pathToImg}icons/handset.svg');
			}
		}
		&__phone{
			float: left;
			&+.header__phone{
				margin-left: 2.6rem;
			}
			&-link{
				font-size: 18/@rem;
				line-height: 28/@rem;
			}
		}
		&__top{
			padding-top: 2.7rem;
			padding-bottom: 2rem;
			&-inner{

			}
			&-right{
				float: left;
				width: 100%;
				margin-top: 20/@rem;
			}
			&-btn{
				height: 5rem;
				padding: 1.5rem 2.5rem;
				float: none;
				width: 100%;
			}
		}
		&__logo{
			width: 282/@rem;
			height: 23/@rem;
			float: left;
			margin-left: -5/@rem;
			.background('@{pathToImg}logo_mob.svg');
			&-ico{
				width: 69/@rem;
				height: 30/@rem;
				float: right;
				margin-left: 0;
				margin-top: -7/@rem;
				margin-right: -5/@rem;
			}
		}
		&__bottom{

			&-block{
				padding: 17/@rem 20/@rem 0;
			}
		}
		&__menu{
			text-align: center;
			&-item{
				width: auto!important;
				display: block;
			}
			&-link{
				padding-bottom: 1.6rem;
			}
		}
	}
}