@keyframes showMenuButtonBar1 {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 7px);
	}
	100% {
		transform: translate(0, 7px) rotate(45deg);
	}
}
@keyframes showMenuButtonBar2 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes showMenuButtonBar3 {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -7px);
	}
	100% {
		transform: translate(0, -7px) rotate(-45deg);
	}
}
@keyframes hideMenuButtonBar1 {
	0% {
		transform: translate(0, 7px) rotate(45deg);
	}
	50% {
		transform: translate(0, 7px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hideMenuButtonBar2 {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
@keyframes hideMenuButtonBar3 {
	0% {
		transform: translate(0, -7px) rotate(-45deg);
	}
	50% {
		transform: translate(0, -7px);
	}
	100% {
		transform: translate(0, 0);
	}
}
.header__menu-btn-bar{
	margin: 3px 0;
}
@keyframes showMenuButtonBarSmall1 {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, 5px) rotate(45deg);
	}
}
@keyframes showMenuButtonBarSmall3 {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -5px);
	}
	100% {
		transform: translate(0, -5px) rotate(-45deg);
	}
}
@keyframes hideMenuButtonBarSmall1 {
	0% {
		transform: translate(0, 5px) rotate(45deg);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hideMenuButtonBarSmall3 {
	0% {
		transform: translate(0, -5px) rotate(-45deg);
	}
	50% {
		transform: translate(0, -5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
.is-offices-page{
	.header{
		&__bottom{
			background-color: #fff;
			&-block{
				border-top: 1px solid whitesmoke;
				border-bottom: 1px solid whitesmoke;
				background-color: #fff;
				box-shadow: 0px 1px 3px 0px rgba(211,211,211,0.20);
			}
		}
		&__search-btn{
			background-image: url('@{pathToImg}icons/search_black.svg');
		}
		&__menu-link{
			.color(@text-color);
		}
		&__menu-btn-bar{
			background-color: #000;
			//background-image: url('@{pathToImg}icons/burger_black.svg');
		}
	}
}
.white-top{
	.header{
		&__bottom{
			background-color: #fff;
			&-block{
				border-top: 1px solid whitesmoke;
				border-bottom: 1px solid whitesmoke;
				background-color: #fff;
				box-shadow: 0px 1px 3px 0px rgba(211,211,211,0.20);
			}
		}
		&__search-btn{
			background-image: url('@{pathToImg}icons/search_black.svg')!important;
		}
		&__menu-link{
			.color(@text-color);
		}
		&__menu-btn-bar{
			background-color: #000;
			//background-image: url('@{pathToImg}icons/burger_black.svg');
		}
	}
}
.header{
	position: relative;
	&._eng{
		.header{
			&__phones{
				margin-right: 0;
			}
		}
	}
	&.search-open{
		.mobile &{
			.header__bottom{
				transition: background-color 0s;
				background-color: #fff;
				border-top: 1px solid @cBorder;
			}
		}
		/*.header__bottom-block{
			background-color: #fff;
			border-top: 1px solid @cBorder;
		}
		.header__menu{
			opacity: 0;
			visibility: hidden;
			&-btn{
				opacity: 0;
				visibility: hidden;
			}
		}*/
		.header__search{
			&-form{
				visibility: visible;
			}
			&-btn{
				background-image: url('@{pathToImg}icons/search_gold.svg')!important;
				opacity: 1;
				&-text{
					display: none;
				}
			}
		}
	}
	&._fixed{
		z-index: 1000;
		.header{
			&__bottom{
				background-color: #fff;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;

				.b-menu-visible &{
					bottom: 0;
					overflow-y: auto;
				}
				&-block{
					border-top: 1px solid whitesmoke;
					border-bottom: 1px solid whitesmoke;
					background-color: #fff;
					box-shadow: 0px 1px 3px 0px rgba(211,211,211,0.20);
				}
			}
			&__search-btn{
				background-image: url('@{pathToImg}icons/search_black.svg');
			}
			&__menu-link{
				.color(@text-color);
			}
			&__menu-btn-bar{
				background-color: #000;
				//background-image: url('@{pathToImg}icons/burger_black.svg');
			}
		}
	}
	//transition: background-color @animTime;
	&__rus-link{
		font-size: 16/@rem;
		font-weight: 600;
		letter-spacing: 0.05/@rem;
		.color(@cRed);
		display: inline-block;
		vertical-align: top;
		float: right;
		margin-right: 8.7rem;
		margin-top: 8/@rem;
		&:after{
			content: '';
			display: inline-block;
			width: 1.4rem;
			height: 1.2rem;
			background: url('@{pathToImg}icons/arr_right_long_red.svg') no-repeat center;
			background-size: contain;
			margin-left: 7/@rem;
		}
	}
	&__sections{
		border-bottom: 1px solid whitesmoke;
		height: 59/@rem;
		.mobile &{
			height: auto;
			.grid__inner{
				padding: 0;
			}
		}
		.clearfix;
		&-items{
			float: left;
			.clearfix;
			padding-top: 20/@rem;
		}
		&-item{
			float: left;
			margin-right: 61/@rem;
			&-link{
				opacity: 0.5;
				letter-spacing: 0.5/@rem;
				border-bottom: 2px solid transparent;
				.color(@text-color);
				display: block;
				padding-bottom: 16/@rem;
				&._active{
					.color(@cRed);
					border-color: @cRed;
					opacity: 1;
				}
			}
		}

	}
	&__phones{
		float: right;
		margin-right: 30/@rem;
		margin-top: -1px;
		position: relative;
		&-title{
			text-transform: uppercase;
			color: @cGray;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100%;
			text-align: center;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.8rem;
		}
	}
	&__phone{
		&-link{
			.color(#3e3e3e);
			font-size: 16/@rem;
			//font-weight: 600;
			line-height: 20/@rem;
			text-decoration: none;
		}
	}
	&__top{
		padding-top: 35/@rem;
		padding-bottom: 30/@rem;
		&-inner{

		}
		&-right{
			float: right;
			.clearfix;
		}
		&-btn{
			height: 40/@rem;
			padding: 1rem 2.5rem;
			box-shadow: none;
			font-size: 14/@rem;
			letter-spacing: 0.5/@rem;
		}
		&-enter{
			float: right;
			position: relative;
			.mobile &{
				float: none;
			}
			&-items{
				position: absolute;
				z-index: 100;
				width: 30rem;
				right: 0;
				top: 100%;
				margin-top: 10/@rem;
				background-color: white;
				border: 1px solid #e8e8e8;
				box-shadow: 0 2/@rem 8/@rem rgba(19, 25, 38, 0.1), 0 15/@rem 40/@rem rgba(13, 16, 26, 0.15);
				.mobile &{
					width: 100%;
					margin-top: 5/@rem;
				}
			}
			&-item{
				display: block;
				height: 5.9rem;
				line-height: 1.9rem;
				padding: 2rem 3rem;
				font-size: 16/@rem;
				font-weight: 600;
				letter-spacing: 0.05/@rem;
				.color(@title-color);
				background-color: #fff;
				transition:  background-color @animTime;
				.mobile &{
					text-align: center;
				}
				.no-touch &:hover{
					background-color: whitesmoke;
				}
				&+&{
					border-top: 1px solid #e8e8e8;
				}
			}
		}
	}
	&__logo{
		width: 504/@rem;
		height: 41/@rem;
		float: left;
		.background('@{pathToImg}logo.svg');
		&-ico{
			width: 114/@rem;
			height: 50/@rem;
			float: left;
			margin-left: 30/@rem;
			margin-top: -5/@rem;
			.background('@{pathToImg}logo.png');
		}
	}
	&__bottom{
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		right: 0;
		min-height: 6.2rem;
		border-bottom: 1px solid fade(white,20%);
		transition: background-color 0.2s;
		background-color: transparent;
		.mobile &{
			min-height: 5rem;
		}
		&._financial{
			display: none!important;
		}
		&._mob-financial{
			.header__menu-btn{
				display: none!important;
			}
		}
		&._business{
			.no-business-block{
				display: none!important;
			}
		}
		&-block{
			//padding-top: 21/@rem;
			transition: background-color 0.2s;
			background-color: transparent;
			border-top: 1px solid transparent;
			//padding-bottom: 20/@rem;
		}
	}
	&__search{
		&-btn{
			width: 20/@rem;
			height: 20/@rem;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -10/@rem;
			//.background('@{pathToImg}icons/search.svg');
			.background('@{pathToImg}icons/search_black.svg');
			z-index: 5;
			opacity: 0.5;
			&-text{
				position: absolute;
				right: 100%;
				top: 0;
				padding-right: 2rem;
				.color(@text-color);
				font-size: 1.4rem;
				letter-spacing: 0.5px;
			}
		}
		&-form{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 11;
			visibility: hidden;
			&-requests{
				margin-left: 4rem;
				margin-right: 4rem;
				padding-top: 19/@rem;
				padding-bottom: 26/@rem;
				background: #fff;
				border: 1px solid #e8e8e8;
				&-wrap{
					position: absolute;
					left: 0;
					right: 0;
					top: 100%;
					z-index: 1000;
				}
			}
			&-request{
				display: block;
				line-height: 2rem;
				padding: 1rem 3rem;
				background-color: #fff;
				transition: background-color @animTime;
				.color(#666);
				strong{
					color: #171717;
				}
				.no-touch &:hover{
					background-color: whitesmoke;
				}
			}
			&-field{
				margin-left: 7rem;
				margin-right: 2rem;
				height: 3rem;
				margin-top: 1.6rem;
				input[type="text"]{
					border: 0;
					padding: 0.5rem 0;
					background-color: transparent;
				}
			}
			&-close{
				width: 1.6rem;
				height: 1.6rem;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -0.8rem;
				.background('@{pathToImg}icons/close-burger.svg');
			}
		}
	}
	&__menu{
		text-align: justify;
		line-height: 0;
		padding-left: 70/@rem;
		//padding-right: 70/@rem;
		padding-top: 20/@rem;
		.mobile &{
			&[data-menu="personal"]{
				display: block;
			}
		}
		&-btn{
			display: none;
			width: 20px;
			//height: 16/@rem;
			height: 40/@rem;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -2rem;
			.mobile &{
				display: block;
			}
			&._business,&._personal{
				display: block;
			}
			&._financial{
				display: none!important;
			}
			.no-touch &:hover{
				.header__menu-btn-bar {
					background-color: #000;
				}
			}
			//.background('@{pathToImg}icons/burger.svg');
			&._active{
				.header__menu-btn-bar{
					background-color: #000;
					&:nth-child(1) {
						animation: showMenuButtonBar1 .5s forwards;
						animation-direction: alternate;
					}
					&:nth-child(2) {
						animation: showMenuButtonBar2 .5s forwards;
						animation-direction: alternate;
					}
					&:nth-child(3) {
						animation: showMenuButtonBar3 .5s forwards;
						animation-direction: alternate;
					}
				}
				&._hide-burger{
					.header__menu-btn-bar{
						&:nth-child(1) {
							animation: hideMenuButtonBar1 .5s forwards;
							animation-direction: alternate;
						}
						&:nth-child(2) {
							animation: hideMenuButtonBar2 .5s forwards;
							animation-direction: alternate;
						}
						&:nth-child(3) {
							animation: hideMenuButtonBar3 .5s forwards;
							animation-direction: alternate;
						}
					}
				}
			}
			&-in{
				vertical-align: middle!important;
				display: inline-block;
				width: 100%;
			}
			&-bar {
				height: 2px;
				background-color: #fff;
				margin: 5px 0;
				transition: background-color 0.5s;
				transform-origin: 50%;
				.b-menu-visible &{
					/*background-color: #000;
					&:nth-child(1) {
						animation: showMenuButtonBar1 .5s forwards;
						animation-direction: alternate;
					}
					&:nth-child(2) {
						animation: showMenuButtonBar2 .5s forwards;
						animation-direction: alternate;
					}
					&:nth-child(3) {
						animation: showMenuButtonBar3 .5s forwards;
						animation-direction: alternate;
					}*/
					/*._hide-menu &:nth-child(1) {
						animation: hideMenuButtonBar1 .5s forwards;
						animation-direction: alternate;
						margin-top: 0;
					}
					._hide-menu &:nth-child(2) {
						animation: hideMenuButtonBar2 .5s forwards;
						animation-direction: alternate;
					}
					._hide-menu &:nth-child(3) {
						animation: hideMenuButtonBar3 .5s forwards;
						animation-direction: alternate;
						margin-bottom: 0;
					}*/
				}
			}
		}
		&:after{
			content: '';
			width: 100%;
			line-height: 0;
			display: inline-block;
			vertical-align: top;
		}
		&-item{
			display: inline-block;
			vertical-align: top;
		}
		&-link{
			font-size: 14/@rem;
			font-weight: 600;
			line-height: 20/@rem;
			text-transform: uppercase;
			.color(#fff);
			letter-spacing: 0.4/@rem;
			padding-bottom: 1.8rem;
			border-bottom: 2px solid transparent;
			display: inline-block;
			vertical-align: top;
			&._menu{
				border-color:  transparent!important;
			}
			&._active{
				border-color:  @cRed;
			}
		}
	}
}
.tablet.portrait{
	.b-menu-visible{
		.header__bottom{
			position: absolute!important;
		}
	}
	.header{
		&._eng{
			.header{
				&__phones{
					margin-right: 0;
				}
				&__rus-link{
					float: left;
					margin-top: 10/@rem;
				}
				&__top{
					padding-bottom: 4rem;
				}
				&__top-right{
					padding-right: 0;
				}
			}
		}
		&.search-open{
			.header__sections-items{
				opacity: 0;
			}
		}
		&__phones{
			margin-right: 28/@rem;
			margin-top:11/@rem;
			position: relative;
			padding-left: 3rem;
			&:before{
				content: '';
				position: absolute;
				left: 15/@rem;
				top: -0.4rem;
				width: 2.8rem;
				height:2.8rem;
				.background('@{pathToImg}icons/handset.svg');
			}
		}
		&__phone{
			float: left;
			&-link{
				font-size: 18/@rem;
				margin-left: 28/@rem;
			}
		}
		&__top{
			padding-top: 35/@rem;
			padding-bottom: 30/@rem;
			&-right{
				float: left;
				width: 100%;
				margin-top: 30/@rem;
				//padding-right: 60/@rem;
				position: relative;
			}
			&-btn{
				font-size: 12/@rem;
			}
		}
		&__logo{
			&-ico{
				float: right;
			}
		}
		&__bottom{
			//padding-top: 20/@rem;
			//padding-bottom: 19/@rem;
		}
		&__search{
			&-form {
				left: 3rem;
				&-requests{
					margin-left: 0;
					margin-right: 3rem;
				}
				&-field {
					margin-left: 3rem;
					margin-right: 7rem;
				}
			}
			&-btn{
				background-image: url('@{pathToImg}icons/search_red.svg');
				opacity: 1;
				right: 2.7rem;
				&-text{
					display: none;
				}
				//top: 1rem;
			}
		}
		&__menu{
			padding-left: 0;
			padding-right: 0;
			//height: 20/@rem;
			&-btn{
				&-bar{
					background-color: @cRed;
				}
				//background-image: url('@{pathToImg}icons/burger_red.svg');
				&._active{
					//background-image:url('@{pathToImg}icons/burger-close.svg');
				}
				top: 0;
				margin-top: 0;
			}
			&-link{
				font-size: 12/@rem;
				padding-bottom: 1.6rem;
			}
		}
	}
}
.mobile{
	.header{
		&._eng{
			.header{
				&__phones{
					margin-top: 0.7rem;
				}
				&__rus-link{
					float: none;
					margin-top: 32/@rem;
					margin-right: 0;
				}
				&__top{
					padding-bottom: 2.5rem;
				}
				&__top-right{
					padding-right: 0;
					text-align: center;
				}
			}
		}
		&__phones{
			float: none;
			margin-right: 0;
			margin-top: 17/@rem;
			padding-left: 5.8rem;
			position: relative;
			.clearfix;
			&:before{
				content: '';
				position: absolute;
				left: 15/@rem;
				top: 0;
				width: 2.8rem;
				height:2.8rem;
				.background('@{pathToImg}icons/handset.svg');
			}
		}
		&__phone{
			float: left;
			&+.header__phone{
				margin-left: 1.6rem;
			}
			&-link{
				font-size: 18/@rem;
				line-height: 28/@rem;
			}
		}
		&__top{
			padding-top: 2.7rem;
			padding-bottom: 2rem;
			&-inner{

			}
			&-right{
				float: left;
				width: 100%;
				margin-top: 20/@rem;
			}
			&-btn{
				height: 5rem;
				padding: 1.5rem 2.5rem;
				float: none;
				width: 100%;
			}
		}
		&__logo{
			width: 282/@rem;
			height: 23/@rem;
			float: left;
			margin-left: -5/@rem;
			.background('@{pathToImg}logo_mob.svg');
			&-ico{
				width: 69/@rem;
				height: 30/@rem;
				float: right;
				margin-left: 0;
				margin-top: -7/@rem;
				margin-right: -5/@rem;
			}
		}
		&__bottom{

			&-block{
				padding: 0 20/@rem 0;
			}
		}
		&__search{
			&-btn{
				opacity: 1;
				background-image:url('@{pathToImg}icons/search.svg');
			}
			&-form {
				&-field {
					margin-top: 1.3rem;
					margin-left: 4rem;
				}
				&-requests{
					margin-left: -2rem;
					margin-right: -2rem;
				}
				&-request{
					padding: 1rem 2rem;
				}
			}
		}
		&__menu{
			text-align: center;
			padding-top: 1.7rem;
			padding-left: 0;
			&-blocks{
				.grid__inner{
					padding-right: 0;
				}
			}
			&-item{
				width: auto!important;
				display: block;
			}
			&-link{
				padding-bottom: 1.6rem;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.desktop{
		.header__menu-btn-bar{
			margin: 3px 0;
		}
		.header__menu-btn{
			&._active{
				.header__menu-btn-bar{
					background-color: #000;
					&:nth-child(1) {
						animation: showMenuButtonBarSmall1 .5s forwards;
						animation-direction: alternate;
					}
					&:nth-child(3) {
						animation: showMenuButtonBarSmall3 .5s forwards;
						animation-direction: alternate;
					}
				}
				&._hide-burger{
					.header__menu-btn-bar{
						&:nth-child(1) {
							animation: hideMenuButtonSmallBar1 .5s forwards;
							animation-direction: alternate;
						}
						&:nth-child(3) {
							animation: hideMenuButtonBarSmall3 .5s forwards;
							animation-direction: alternate;
						}
					}
				}
			}
		}

	}
}