
.home{
	&__gray{
		background-color: whitesmoke;
	}
	&__transfer{
		/*padding-top: 63/@rem;
		padding-bottom: 63/@rem;*/
		&-form{
			position: relative;

		}
		&-loader{
			position: absolute;
			z-index: 100;
			top:-1rem;
			left: 0;
			right: 0;
			width: 100%;
			bottom: 0;
			background-color: rgba(255,255,255,0.2);
		}
		&-description{
			max-width: 77rem;
			margin: 6rem auto 0;
			color: @cGray;
			font-size: 13/@rem;
			line-height: 20/@rem;
			&-contacts{
				color: @text-color;
			}
			&-security{
				font-size: 11/@rem;
				line-height: 12/@rem;
				padding-left: 144/@rem;
				margin-top: 20/@rem;
				position: relative;
				&-icons{
					white-space: nowrap;
					position: absolute;
					left: 0;
					top: 0;
				}
				&-icon{
					display: inline-block;
					vertical-align: top;
					background: none no-repeat center;
					background-size: contain;
					//height: 35/@rem;
					height: 28/@rem;
					&._1{
						background-image: url('@{pathToImg}transfers/1.jpg');
						//width: 80/@rem;
						width: 64/@rem;
					}
					&._2{
						background-image: url('@{pathToImg}transfers/2.jpg');
						//width: 89/@rem;
						width: 70/@rem;
					}
				}
			}
		}
		&-cards{
			.clearfix;
			width: 970/@rem;
			margin: 55/@rem auto -219/@rem;
			position: relative;
			z-index: 2;
			background: url('@{pathToImg}icons/arrow_right.svg') no-repeat center;
			background-size: 7/@rem 11/@rem;
			&._active{
				.home__transfer-card{
					opacity: 1;
					transform: translate(0,0);
				}
			}
		}
		&-card{
			float: left;
			opacity: 0;
			transition: opacity @animTime,transform @animTime;
			.touch &{
				opacity: 1;
			}
			&._1{
				background-image: linear-gradient(to top, #18191e 0%, #37383f 100%);
				transform: translate(-20rem,0);
				.touch &{
					transform: translate(0,0);
				}
			}
			&._2{
				background-image: linear-gradient(to top, #8d9399 0%, #a9b0b8 100%);
				margin-left: 30/@rem;
				transform: translate(20rem,0);
				.touch &{
					transform: translate(0,0);
				}
			}

		}
		&-block{
			width: 770/@rem;
			background-color: white;
			border-radius: 2/@rem;
			box-shadow: 0 1px 3/@rem rgba(212, 212, 212, 0.8);
			margin: 0 auto;
			&-in{
				.clearfix;
				padding: 26rem 4rem 5.7rem;
			}
		}
		&-sum{
			float: left;
			width: 23.3rem;
			height: 50/@rem;
			position: relative;
			input{
				padding-right: 4rem;
			}
			&-text{
				font-size: 1rem;
				line-height: 2rem;
				color: #333;
				text-transform: uppercase;
				letter-spacing: 0.02rem;
				text-align: center;
			}
			&:after{
				content: '';
				position: absolute;
				right: 2.3rem;
				width: 1rem;
				height: 1rem;
				top: 2rem;
				.background('@{pathToImg}icons/rub.svg');
				z-index: 2;
			}
		}
		&-commission{
			float: left;
			margin-left: 29/@rem;
			&-title{
				font-size: 10/@rem;
				line-height: 20/@rem;
				color: #333;
				text-transform: uppercase;
				letter-spacing: 0.2/@rem;
			}
			&-val{
				font-size: 20/@rem;
				line-height: 1;
				color: @cGold;
				margin-top: 5/@rem;
			}
		}
		&-agree{
			display: block;
			float: right;
			width: 25.7rem;
			position: relative;
			padding-left: 4rem;
			line-height: 2.5rem;
			margin-top: -3/@rem;
			font-weight: 600;
			letter-spacing: -0.03rem;
			.ideal-check{
				position: absolute;
				left: 0;
				top: 3/@rem;
			}
		}
		&-btn{
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%,50%);
			&[disabled]{
				background: @cGray!important;
				box-shadow: none!important;
			}
		}
	}
}
.nav{
	.clearfix;
	&__btn{
		width: 48/@rem;
		height: 48/@rem;
		box-shadow: 0 1px 3/@rem rgba(212, 212, 212, 0.8);
		//box-shadow: 0 1px 1rem rgba(211, 211, 211, 0.6);
		border-radius: 50%;
		float: left;
		background: url('@{pathToImg}icons/arr_left_black.svg') no-repeat center #fff;
		background-size: 6/@rem 10/@rem;
		cursor: pointer;
		transition:box-shadow @animTime;
		.no-touch &:hover{
			box-shadow: 0 2/@rem 10/@rem rgba(23, 24, 26, 0.2);
		}
		&.swiper-button-disabled{
			opacity: 0.5;
			cursor: default;
		}
		&+&{
			margin-left: 15/@rem;
		}
		&._prev{

		}
		&._next{
			background-image: url('@{pathToImg}icons/arr_right_black.svg');
		}
		&._plus{
			background-image: url('@{pathToImg}icons/plus.svg');
			background-size: 1.2rem;
		}
		&._minus{
			background-image: url('@{pathToImg}icons/minus.svg');
			background-size: 1.2rem 2px;
		}
	}
}
.tablet.portrait{
	.home{
		&__transfer{
			//padding-top: 5.4rem;
			.subtitle{
				width: 55%;
				margin: 0 auto;
			}
			.grid__inner{
				padding-left: 1.7rem;
				padding-right: 1.7rem;
			}
			&-cards{
				width: 716/@rem;
				margin: 4.5rem auto -15.5rem;
			}
			&-card{
				&._2{
					margin-left: 2.8rem;
				}
			}
			&-block{
				width: 100%;
				&-in{
					padding: 19.4rem 3.2rem 5.7rem;
				}
			}
		}
	}
}
.mobile{
	.home {
		.home__transfer-cards{
			margin: 4rem auto -67rem;
		}
	}
	.home{
		&__transfer{
			//display: none;
			&-form{
				position: relative;
			}
			&-description{
				padding-left: 20px;
				padding-right: 20px;
				letter-spacing: 0.3px;
				margin-top: 3.3rem;
				&-security{
					font-size: 1.3rem;
					line-height: 1.5rem;
					padding-left: 0;
					margin-top: 3rem;
					&-icons{
						position: static;
						text-align: center;
						padding-right: 5rem;
						margin-bottom: 0.8rem;
					}
					&-icon{
						height: 5.8rem;
						&._1{
							width: 8.4rem;
							margin-right: 5rem;
						}
						&._2{
							width: 9rem;
						}
					}
				}
			}
			&-cards{
				width: 100%;
				margin: 0 auto -67rem;
				background: none;
				&._active{
					.home__transfer-card{
						opacity: 1;
						transform: translate(0,0);
					}
				}
			}
			&-card{
				float: none;
				&._2{
					margin-left: auto;
					margin-top: 2rem;
					height: 28rem;
				}

			}
			&-block{
				width: 100%;
				&-in{
					padding: 70rem 4rem 4rem;
				}
			}
			&-sum{
				float: none;
				width: 100%;
			}
			&-commission{
				float: none;
				margin: 2.5rem 0 1rem;
				.clearfix;
				&-title{
					float: left;
					line-height: 3rem;
				}
				&-val{
					float: right;
					line-height: 3rem;
					margin-top: 0;
				}
			}
			&-agree{
				float: none;
				width: 100%;
				margin-bottom: 2rem;
				margin-top: 1rem;
			}
			&-btn{
				float: none;
				position: static;
				transform: translate(0,0);
				width: 100%;
				&[disabled]{
					background: @cGray!important;
					box-shadow: none!important;
				}
			}
		}
	}
}