.offices__metro-img-station{
	position: absolute;
	width: 6rem;
	height: 1.5rem;
	border: 1px solid black;
	font-size: 1.5rem;
	color: red;
	font-weight: bold;
	line-height: 1rem;
	display: none;
	&._1{
		left: 2.8rem;
		top: 10.5rem;
	}
	&._2{
		left: 2.8rem;
		top: 12.5rem;
	}
	&._3{
		left: 2.8rem;
		top: 14.3rem;
	}
	&._4{
		left: 2.8rem;
		top: 16.1rem;
	}
	&._5{
		left: 2.8rem;
		top: 17.8rem;
	}
	&._6{
		left: 2.8rem;
		top: 19.6rem;
	}
	&._7{
		left: 2.8rem;
		top: 21.3rem;
	}
	&._8{
		left: 2.8rem;
		top: 24.4rem;
	}
	&._9{
		left: 3.5rem;
		top: 26.3rem;
	}
	&._10{
		left: 3.5rem;
		top: 28rem;
	}
	&._11{
		left: 3.5rem;
		top: 34.3rem;
	}
	&._12{
		left: 3.5rem;
		top: 35.7rem;
		width: 2.3rem;
	}
	&._13{
		left: 5.7rem;
		top: 36.6rem;
	}
	&._14{
		left: 0.5rem;
		top: 41rem;
		width: 5rem;
	}
	&._15{
		left: 6.3rem;
		top: 41rem;
		width: 5rem;
	}
	&._16{
		left: 12.1rem;
		top: 36.3rem;
	}
	&._17{
		left: 10.1rem;
		top: 33.3rem;
	}
	&._18{
		left: 4.4rem;
		top: 30.1rem;
	}
	&._19{
		left: 11.3rem;
		top: 30.1rem;
	}
	&._20{
		left: 20.4rem;
		top: 30.1rem;
		width: 4.5rem;
	}
	&._21{
		left: 10.9rem;
		top: 3.6rem;
	}
	&._22{
		left: 12rem;
		top: 21.2rem;
		width: 4.8rem;
	}
	&._23{
		left: 10.9rem;
		top: 5.3rem;
	}
	&._24{
		left: 10.9rem;
		top: 6.9rem;
	}
	&._25{
		left: 10.9rem;
		top: 8.6rem;
	}
	&._26{
		left: 10.9rem;
		top: 10.3rem;
	}
	&._27{
		left: 10.7rem;
		top: 16.6rem;
	}
	&._28{
		left: 18.7rem;
		top: 3.6rem;
	}
	&._29{
		left: 18.7rem;
		top: 5.5rem;
	}
	&._30{
		left: 18.7rem;
		top: 10.6rem;
	}
	&._31{
		left: 18.7rem;
		top: 13rem;
	}
	&._32{
		left: 18.7rem;
		top: 14.5rem;
	}
	&._33{
		left: 18.7rem;
		top: 16rem;
	}
	&._34{
		left: 30.1rem;
		top: 0.3rem;
	}
	&._35{
		left: 30.1rem;
		top: 2.1rem;
	}
	&._36{
		left: 30.1rem;
		top: 3.8rem;
	}
	&._37{
		left: 30.1rem;
		top: 6.2rem;
	}
	&._38{
		left: 40.9rem;
		top: 0.4rem;
	}
	&._39{
		left: 40.9rem;
		top: 2.3rem;
	}
	&._40{
		left: 40.9rem;
		top: 4.3rem;
	}
	&._41{
		left: 40.9rem;
		top: 6.2rem;
	}
	&._42{
		left: 29rem;
		top: 8.8rem;
		width: 9rem;
	}
	&._43{
		left: 31.8rem;
		top: 10.1rem;
	}
	&._44{
		left: 26.3rem;
		top: 11.8rem;
	}
	&._45{
		left: 26.3rem;
		top: 13.8rem;
	}
	&._46{
		left: 26.3rem;
		top: 15.2rem;
	}
	&._47{
		left: 33.1rem;
		top: 12.9rem;
	}
	&._48{
		left: 33.1rem;
		top: 14.2rem;
	}
	&._49{
		left: 33.1rem;
		top: 15.6rem;
		width: 5rem;
	}
	&._50{
		left: 32.7rem;
		top: 21.1rem;
		width: 3.5rem;
	}
	&._51{
		left: 16.9rem;
		top: 21.8rem;
	}
	&._52{
		left: 23.8rem;
		top: 22.6rem;
		width: 4.4rem;

	}
	&._53{
		left: 28.3rem;
		top: 23.1rem;
		width: 4.4rem;
	}
	&._54{
		left: 12.8rem;
		top: 45.8rem;
	}
	&._55{
		left: 12.8rem;
		top: 48.1rem;
	}
	&._56{
		left: 12.8rem;
		top: 50.8rem;
	}
	&._57{
		left: 12.8rem;
		top: 53.4rem;
	}
	&._58{
		left: 12.8rem;
		top: 55.8rem;
	}
	&._59{
		left: 12.8rem;
		top: 58.2rem;
	}
	&._60{
		left: 12.8rem;
		top: 60.5rem;
	}
	&._61{
		left: 11.4rem;
		top: 72.5rem;
		width: 4rem;
	}
	&._62{
		left: 15.8rem;
		top: 72.5rem;
		width: 4rem;

	}
	&._63{
		left: 20.3rem;
		top: 72.5rem;
		width: 4rem;
		height: 2rem;
	}
	&._64{
		left: 24.5rem;
		top: 72.5rem;
	}
	&._65{
		left: 19.2rem;
		top: 69.7rem;
		width: 8.5rem;
	}
	&._66{
		left: 15.7rem;
		top: 68rem;
	}
	&._67{
		left: 22.1rem;
		top: 68rem;
	}
	&._68{
		left: 21.5rem;
		top: 66.2rem;
	}
	&._69{
		left: 20.7rem;
		top: 64.4rem;
	}
	&._70{
		left: 20.7rem;
		top: 62.7rem;
	}
	&._71{
		left: 20.7rem;
		top: 61rem;
		width: 3.5rem;
	}
	&._72{
		left: 20.7rem;
		top: 59.3rem;
		width: 3.5rem;
	}
	&._73{
		left: 24.3rem;
		top: 60.3rem;
		width: 3.5rem;
	}
	&._74{
		left: 20.7rem;
		top: 57.7rem;
	}
	&._75{
		left: 20.7rem;
		top: 55.9rem;
	}
	&._76{
		left: 20.7rem;
		top: 54.2rem;
	}
	&._77{
		left: 20.7rem;
		top: 52.5rem;
	}
	&._78{
		left: 20.7rem;
		top: 48rem;
	}
	&._79{
		left: 22.9rem;
		top: 44.8rem;
	}
	&._80{
		left: 29.2rem;
		top: 44.6rem;
	}
	&._81{
		left: 29.4rem;
		top: 47.6rem;
	}
	&._82{
		left: 29.4rem;
		top: 54.2rem;
	}
	&._83{
		left: 29.4rem;
		top: 55.7rem;
	}
	&._84{
		left: 29.4rem;
		top: 57.6rem;
	}
	&._85{
		left: 29.4rem;
		top: 61.3rem;
	}
	&._86{
		left: 29.4rem;
		top: 62.8rem;
	}
	&._87{
		left: 29.4rem;
		top: 64.1rem;
	}
	&._88{
		left: 29.4rem;
		top: 65.5rem;
	}
	&._89{
		left: 29.4rem;
		top: 67rem;
		width: 8rem;
	}
	&._90{
		left: 29.4rem;
		top: 68.3rem;
	}
	&._91{
		left: 29.4rem;
		top: 70.1rem;
	}
	&._92{
		left: 38.3rem;
		top: 66.9rem;
	}
	&._93{
		left: 38.3rem;
		top: 64.7rem;
	}
	&._94{
		left: 38.3rem;
		top: 62.6rem;
	}
	&._95{
		left: 38.3rem;
		top: 60.4rem;
	}
	&._96{
		left: 38.3rem;
		top: 58.3rem;
	}
	&._97{
		left: 38.3rem;
		top: 56.1rem;
	}
	&._98{
		left: 38.3rem;
		top: 54.1rem;
	}
	&._99{
		left: 38.3rem;
		top: 50.3rem;
	}
	&._100{
		left: 38.3rem;
		top: 43rem;
	}
	&._101{
		left: 38.3rem;
		top: 36.7rem;
	}
	&._102{
		left: 44.4rem;
		top: 40.1rem;
	}
	&._103{
		left: 42.7rem;
		top: 46.8rem;
	}
	&._104{
		left: 47.1rem;
		top: 50.5rem;
	}
	&._105{
		left: 47.1rem;
		top: 52.7rem;
	}
	&._106{
		left: 47.1rem;
		top: 54.9rem;
	}
	&._107{
		left: 47.1rem;
		top: 57.1rem;
	}
	&._108{
		left: 47.1rem;
		top: 59.3rem;
	}
	&._109{
		left: 47.1rem;
		top: 61.4rem;
	}
	&._110{
		left: 47.1rem;
		top: 63.7rem;
	}
	&._111{
		left: 47.1rem;
		top: 65.8rem;
	}
	&._112{
		left: 47.1rem;
		top: 68.1rem;
	}
	&._113{
		left: 40.1rem;
		top: 70.1rem;
		width: 7rem;
	}
	&._114{
		left: 50.6rem;
		top: 70.1rem;
	}
	&._115{
		left: 55.8rem;
		top: 60.5rem;
	}
	&._116{
		left: 55.8rem;
		top: 57.8rem;
	}
	&._117{
		left: 55.8rem;
		top: 54.8rem;

	}
	&._118{
		left: 55.8rem;
		top: 51.8rem;

	}
	&._119{
		left: 55.8rem;
		top: 48.8rem;
	}
	&._120{
		left: 55.8rem;
		top: 45.8rem;
	}
	&._121{
		left: 54.5rem;
		top: 43.1rem;
	}
	&._122{
		left: 52.1rem;
		top: 40.4rem;
		width: 9rem;
	}
	&._123{
		left: 50.3rem;
		top: 39rem;
	}
	&._124{
		left: 44.7rem;
		top: 36.9rem;
	}
	&._125{
		left: 41.3rem;
		top: 34.6rem;
	}
	&._126{
		left: 46.6rem;
		top: 31.1rem;
		width: 4rem
	}
	&._127{
		left: 50.7rem;
		top: 32.2rem;
		width: 4rem;
	}
	&._128{
		left: 52.7rem;
		top: 30.2rem;
	}
	&._129{
		left: 53rem;
		top: 27.7rem;
		width: 7rem;
	}
	&._130{
		left: 57rem;
		top: 26.2rem;
	}
	&._131{
		left: 58.2rem;
		top: 25.1rem;
		height: 1rem;
	}
	&._132{
		left: 59.4rem;
		top: 23.7rem;
	}
	&._133{
		left: 55.8rem;
		top: 10.1rem;
	}
	&._134{
		left: 55.8rem;
		top: 13.1rem;

	}
	&._135{
		left: 55.8rem;
		top: 16.1rem;

	}
	&._136{
		left: 54.4rem;
		top: 19.1rem;
	}
	&._137{
		left: 50.4rem;
		top: 23.1rem;
	}
	&._138{
		left: 49.4rem;
		top: 24.7rem;
		height: 1rem;
	}
	&._139{
		left: 48.1rem;
		top: 25.7rem;
	}
	&._140{
		left: 46rem;
		top: 26.9rem;
	}
	&._141{
		left: 39.8rem;
		top: 26.9rem;
		width: 4.5rem;
	}
	&._142{
		left: 39.8rem;
		top: 24.7rem;
	}
	&._143{
		left: 41.3rem;
		top: 23.2rem;
	}
	&._144{
		left: 43.4rem;
		top: 21.2rem;
	}
	&._145{
		left: 45.2rem;
		top: 19.4rem;

	}
	&._146{
		left: 46.5rem;
		top: 18.1rem;
	}
	&._147{
		left: 47.9rem;
		top: 16.7rem;
	}
	&._148{
		left: 47.1rem;
		top: 11.5rem;
		width: 8rem;
	}
	&._149{
		left: 43.6rem;
		top: 14.7rem;
	}
	&._150{
		left: 40.9rem;
		top: 11.9rem;
		width: 5rem;
	}
	&._151{
		left: 40.9rem;
		top: 13.2rem;
		width: 5rem;
	}
	&._152{
		left: 40.2rem;
		top: 15rem;
		width: 3rem;
	}
	&._153{
		left: 38.1rem;
		top: 17.1rem;
	}
	&._154{
		left: 36.7rem;
		top: 20.3rem;
		width: 5rem;
	}
	&._155{
		left: 36.7rem;
		top: 22rem;
		width: 4rem;
	}
	&._156{
		left: 28.5rem;
		top: 17.7rem;
	}
	&._157{
		left: 26.9rem;
		top: 19.2rem;
	}
	&._158{
		left: 33rem;
		top: 24.4rem;
		width: 5rem;
	}
	&._159{
		left: 31.5rem;
		top: 25.8rem;
	}
	&._160{
		left: 26.4rem;
		top: 25.8rem;
		width: 4.5rem;
	}
	&._161{
		left: 20.2rem;
		top: 25.8rem;
		width: 5rem;

	}
	&._162{
		left: 13.7rem;
		top: 26.8rem;
		width: 5rem;
	}
	&._163{
		left: 12.6rem;
		top: 25.1rem;
		width: 5rem;
	}
	&._164{
		left: 19.8rem;
		top: 27.8rem;
		height: 1rem;
	}
	&._165{
		left: 24.6rem;
		top: 28.6rem;
		height: 1rem;
		width: 4rem;
	}
	&._166{
		left: 29.6rem;
		top: 27.8rem;
		width: 4rem;
	}
	&._167{
		left: 35.6rem;
		top: 28.5rem;
		width: 4rem;

	}
	&._168{
		left: 36.2rem;
		top: 30.4rem;
		width: 5rem;
	}
	&._169{
		left: 29.1rem;
		top: 30.5rem;
		width: 4rem;
	}
	&._170{
		left: 25.2rem;
		top: 30.7rem;
		width: 4rem;
	}
	&._171{
		left: 33.4rem;
		top: 31.5rem;
		width: 4.5rem;
	}
	&._172{
		left: 15.5rem;
		top: 31.9rem;
		width: 4rem;
	}
	&._173{
		left: 14.4rem;
		top: 41.7rem;
		width: 5rem;

	}
	&._174{
		left: 20rem;
		top: 41.5rem;
		width: 5rem;
	}
	&._175{
		left: 16.9rem;
		top: 39.7rem;
		width: 5rem;
	}
	&._176{
		left: 17.7rem;
		top: 37.9rem;
		width: 4rem;
	}
	&._177{
		left: 22.3rem;
		top: 37.7rem;
		width: 6rem;

	}
	&._178{
		left: 21.5rem;
		top: 34.1rem;
		width: 5rem;
	}
	&._179{
		left: 28.1rem;
		top: 34.1rem;
	}
	&._180{
		left: 33.8rem;
		top: 33.5rem;
	}
	&._181{
		left: 28.6rem;
		top: 36.1rem;
		width: 8rem;
	}
	&._182{
		left: 22.3rem;
		top: 37.7rem
	}
	&._183{
		left: 31.7rem;
		top: 38.4rem;
	}
	&._184{
		left: 29.4rem;
		top: 40.9rem;
		width: 4rem;
	}
	&._185{
		left: 30.1rem;
		top: 42.3rem;
	}
	&._186{
		left: 31.4rem;
		top: 59.4rem;
	}
	&._187{

	}
	&._188{

	}
	&._189{

	}
	&._190{

	}
	&._191{

	}
	&._192{

	}
	&._193{

	}
	&._194{

	}
	&._195{

	}
	&._196{

	}
	&._197{

	}
	&._198{

	}
	&._199{

	}
}