.subscription{
	&__success{
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height:100%;
		color: @title-color;
		background-color: #fff;
		z-index: 20;
		display: none;
		&-block{
			margin-left: 50%;
			height: 100%;
			padding-right: 60px;
			.middle;
			&-in{
				.middle__inner;
			}
		}
		&-img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			background: url('@{pathToImg}subscription_success.jpg') no-repeat center;
			background-size: cover;
		}
		&-title{
			font-size: 30px;
			font-weight: 600;
			letter-spacing: -0.42px;
			line-height: 41px;
			margin-bottom: 22px;
		}
		&-text{
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
		}
	}
	&__form{
		position: relative;
		max-width: 970/@rem;
		background-color: white;
		border-radius: 2/@rem;
		box-shadow: 0 1px 3/@rem rgba(211, 211, 211, 0.8);
		margin: 3.5rem auto 0;
		.clearfix;
		&-col{
			float: left;
			width: 50%;
			padding: 42/@rem 40/@rem 72/@rem;
			&:first-child{
				border-right: 1px solid #f2f4f5;
			}
		}
		&-row{
			&+&{
				margin-top: 3rem;
			}
		}
		&-check{
			//margin-top: 43/@rem;
			margin-top: 2.3rem;
		}
		&-block{
			&-title{
				font-size: 10/@rem;
				font-weight: 600;
				letter-spacing: 0.5/@rem;
				line-height: 14/@rem;
				text-transform: uppercase;
			}
			&-field{
				height: 46/@rem;
				border-bottom: 2/@rem solid #d0d4d9;
				padding-bottom: 4/@rem;
				position: relative;
				&.phone-inp{
					position: relative;
					&:before{
						content: '+7';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						padding-top: 2rem;
						font-size: 20/@rem;
						font-weight: 400;
						letter-spacing: -0.28/@rem;
						line-height: 2/@rem;
						z-index: 3;
						display: block;
					}
					input[type="text"]{
						padding-left: 2.7rem;
					}
				}
				input[type='text'], input[type='password'], input[type='tel'], input[type='date'], input[type='number'], input[type='email'], input[type='url'], input[type='search']{
					border: 0;
					padding: 0;
					font-size: 20/@rem;
					font-weight: 400;
					letter-spacing: -0.28/@rem;
				}
			}
		}
		&-btn{
			position: absolute;
			bottom: -2.5rem;
			left: 50%;
			letter-spacing: 0;
			padding: 1.5rem 2.3rem;
			transform: translate(-50%,0);
		}
	}
}
.tablet.portrait{
	.field-status__text{
		width: 276/@rem;
	}
}
.mobile{
	.subscription{
		&__success{
			&-block{
				margin-left:0;
				padding:3rem;
				padding-bottom: 22rem;
			}
			&-img{
				height: 25rem;
				top: auto;
				bottom: 0;
				width: 100%;
			}
			&-title{
				font-size: 24px;
				line-height: 35px;
			}
		}
		.field-status__text{
			width: 294/@rem;
		}
		.grid__inner{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.subtitle{
			white-space: nowrap;
			letter-spacing: -0.2/@rem;
		}
		&__form{
			margin: 2rem auto 0;
			padding: 42/@rem 40/@rem 61/@rem;
			&-col{
				float: none;
				width: 100%;
				padding: 0;
				&+.subscription__form-col{
					margin-top: 3rem;
				}
				&:first-child{
					border-right: 0;
				}
			}
			&-check{
				margin-top: 0;
			}
		}
	}
}