.transfers{
	.numerals__item._big{
		.numerals__item-val{
			font-size: 13rem;
			.tablet.portrait &{
				font-size: 10rem;
			}
			.mobile &{
				font-size: 10.6rem;
			}
		}
	}
	&__translation{
		padding-top: 6/@rem;
		padding-bottom: 62/@rem;
	}
	&__mob-menu{
		position: relative;
		height: 6.5rem;
		z-index: 10;
		&._fixed{
			.transfers__mob-menu-in{
				position: fixed;
				top: 5.7rem;
				left: 0;
				right: 0;
				z-index: 999;
			}
		}
		&-in{

		}
		&-item{
			display: block;
			height: 6.5rem;
			line-height: 2.5rem;
			padding: 2rem;
			text-align: center;
			.color(#fff);
			font-size: 16/@rem;
			font-weight: 600;
			&._title{
				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					border: 5/@rem solid transparent;
					border-bottom: 0;
					border-top-color: #fff;
					margin-left: 8/@rem;
				}
				&._active{
					&:after{
						border-bottom: 5/@rem solid #fff;
						border-top: 0;
					}
				}
			}
			&._rgs{
				background-image: linear-gradient(135deg, #7e1b20 0%, #973534 100%);
			}
			&._wu{
				background-image: linear-gradient(-45deg, #ffeb00 0%, gold 100%);
			}
			&._mg{
				background-image: linear-gradient(135deg, #ed1c2e 0%, #e95555 100%);
			}
			&._zk{
				background-image: linear-gradient(135deg, #c03 0%, #e62958 100%);
			}
		}
		&-items{
			display: none;
			.transfers__mob-menu-item{
				height: 4.5rem;
				padding: 1rem 2rem;
			}
		}
	}
	&__menu{
		background-color: whitesmoke;
		&+.b-block{
			padding-top: 5rem;
		}
		&-block{
			margin-top: 32/@rem;
			height: 149/@rem;
			position: relative;
			&._fixed{
				.transfers__menu-items{
					position: fixed;
					top: 6rem;
					right: 0;
					left: 0;
					z-index: 999;
				}
				.transfers__menu-item{
					height: 65/@rem;
					&-title{
						padding-top: 0;
					}
					&-ico{
						display: none;
					}
				}
			}
		}
		&-items{
			.clearfix;
			background-color: white;
			box-shadow: 0 1px 3px rgba(211, 211, 211, 0.8);
		}
		&-item{
			float: left;
			width: 25%;
			.color(@title-color);
			height: 149/@rem;
			padding-top: 21/@rem;
			background-color: transparent;
			transition: height @animTime, background @animTime,color 0.3s;
			&._active,.no-touch &:hover{
				color: #fff;
				box-shadow: 0 45/@rem 55/@rem -30/@rem rgba(164, 164, 164, .6);
			}
			&._rgs{
				.transfers__menu-item{
					&-ico{
						background-image: url('@{pathToImg}transfers/icons/rgs.svg');
					}
				}
				&._active,.no-touch &:hover{
					background-image: linear-gradient(135deg, #7e1b20 0%, #973534 100%);
					.transfers__menu-item{
						&-ico{
							background-image: url('@{pathToImg}transfers/icons/rgs_active.svg');
						}
					}
				}
			}
			&._wu{
				.transfers__menu-item{
					&-ico{
						background-image: url('@{pathToImg}transfers/icons/wu.svg');
						background-size: auto 39/@rem;
					}
				}
				&._active,.no-touch &:hover{
					background-image: linear-gradient(-45deg, #ffeb00 0%, gold 100%);
					.transfers__menu-item{
						&-ico{
							background-image: url('@{pathToImg}transfers/icons/wu_active.svg');
						}
					}
				}
			}
			&._mg{
				.transfers__menu-item{
					&-ico{
						background-image: url('@{pathToImg}transfers/icons/mg.svg');
					}
				}
				&._active,.no-touch &:hover{
					background-image: linear-gradient(135deg, #ed1c2e 0%, #e95555 100%);
					.transfers__menu-item{
						&-ico{
							background-image: url('@{pathToImg}transfers/icons/mg_active.svg');
						}
					}
				}
			}
			&._zk{
				.transfers__menu-item{
					&-ico{
						background-image: url('@{pathToImg}transfers/icons/zk.png');
					}
				}
				&._active,.no-touch &:hover{
					background-image: linear-gradient(135deg, #c03 0%, #e62958 100%);
					.transfers__menu-item{
						&-ico{
							background-image: url('@{pathToImg}transfers/icons/zk_active.png');
						}
					}
				}
			}
			&+&{
				border-left: 1px solid @cBorder;
			}
			&-ico{
				height: 6rem;
				background: none no-repeat center;
				background-size: contain;

			}
			&-title{
				font-size: 16/@rem;
				font-weight: 600;
				line-height: 25/@rem;
				text-align: center;
				padding-top: 10/@rem;
			}
		}
	}
	&__info{
		.clearfix;
		&-col{
			float: left;
			width: 50%;
		}
		&-block{
			font-size: 16/@rem;
			font-weight: 400;
			line-height: 2.5rem;
			padding-right: 8rem;
			margin-top: 32/@rem;
		}
	}
}
.transfers-nav{
	&__cards{
		background-color: #cca266;
		.color(#fff);
		&-block{
			margin-top: 46/@rem;
			position: relative;
			white-space: nowrap;
		}
		&-card{
			display: inline-block;
			vertical-align: top;
			box-shadow: 0 45/@rem 55/@rem -30/@rem rgba(31, 29, 27, .6);
			&+&{
				margin-left: 3.1rem;
			}
		}
	}
	&__methods{
		position: absolute;
		right: 6rem;
		top: 50%;
		margin-top: -3.5rem;
	}
	&__method{
		float: left;
		height: 7rem;
		background: none no-repeat center;
		background-size: contain;
		margin-left: 6rem;
		&._rgs{
			width: 16.1rem;
			background-image: url('@{pathToImg}transfers/icons/rgs.svg');
		}
		&._wu{
			width: 12.1rem;
			background-image: url('@{pathToImg}transfers/icons/wu-logo.png');
		}
		&._mg{
			width: 7rem;
			background-image: url('@{pathToImg}transfers/icons/mg.svg');
		}
		&._zk{
			width: 14.5rem;
			background-image: url('@{pathToImg}transfers/icons/zolkorona.png');
		}
	}
}
.tablet.portrait{
	.transfers-nav{
		.page-nav__item-ico._base{
			display: none;
		}
		&__cards{
			&-block{
				padding-left: 154/@rem;
			}
		}
		&__methods{
			margin-top: -7rem;
			width: 314/@rem;
		}
		&__method{
			height: 5.8rem;
			margin-left: 24/@rem;
			width: 133/@rem!important;
			margin-bottom: 23/@rem;
			&._wu{
				background-size: 100/@rem 46/@rem;
			}
		}
	}
	.transfers{
		.b-color-table{
			margin-left: -2.7rem;
			margin-right: -2.7rem;
		}
		&__menu{
			background-color: #fff;
			padding-top: 0;
			h3{
				margin-top: 0;
			}
			&+.b-block{
				padding-top: 0;
			}
			&-block{
				margin-left:-2.7rem;
				margin-right:-2.7rem;
				height: 65/@rem;
			}
			&-items{
				box-shadow: 0 1px 3px rgba(211, 211, 211, 0.8);
			}
			&-item{
				height: 65/@rem;
				&-title{
					padding-top: 0;
				}
				&-ico{
					display: none;
				}
			}
		}
		&__info{
			&-col{
				padding-right: 3rem;
			}
			&-block{
				padding-right: 0;
				margin-top: 32/@rem;
			}
		}
	}
}
.mobile{
	.transfers-nav{
		.page-nav__item-ico._base{
			display: none;
		}
		&__cards{
			padding-right: 95/@rem;
			&-block{
				position: absolute;
				top: 25/@rem;
				margin-top: 0;
				left: 290/@rem;
			}
			&-card{
				height: 150/@rem;
				width: 240/@rem;
			}
		}
		&__methods{
			display: none;
		}
	}
	.transfers{
		.b-color-table{
			margin-left: -2rem;
			margin-right: -2rem;
		}
		&__menu{
			display: none;
			&+.b-block{
				padding-top: 5rem;
			}
		}
		&__info{
			.clearfix;
			&-col{
				float: none;
				width: 100%;
				&+.transfers__info-col{
					margin-top: 6rem;
				}
			}
			&-block{
				font-size: 14/@rem;
				font-weight: 400;
				letter-spacing: -0.19/@rem;
				line-height: 20/@rem;
				padding-right: 0;
			}
		}
	}
}