.phone-inp{
	position: relative;
	&:before{
		content: '+7';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		font-size: 20/@rem;
		font-weight: 400;
		letter-spacing: -0.28/@rem;
		line-height: 42/@rem;
		z-index: 3;
	}
	input[type="text"]{
		padding-left: 2.7rem;
	}
}
.required{
	font-size: 10/@rem;
	font-weight: 600;
	letter-spacing: 0.5/@rem;
	color: @cRed;
}
.b-form{
	input[type='text'], input[type='password'], input[type='tel'], input[type='date'], input[type='number'], input[type='email'], input[type='url'], input[type='search'],textarea{
		border: 0;
		padding: 0;
		font-size: 20/@rem;
		font-weight: 400;
		letter-spacing: -0.28/@rem;
	}
	.chosen-container-single .chosen-single{
		border: 2/@rem solid #d0d4d9;
		height: 6rem;
		font-size: 20/@rem;
		font-weight: 400;
		letter-spacing: -0.28/@rem;
		line-height: 3.6rem;
		padding-top: 1rem;
		&.chosen-default{
			color: #acb6bf;
		}
	}
	&__checks{
		.b-form__check{
			color: fade(@title-color,80%);
			&._active{
				color: @title-color;
			}
			&+.b-form__check{
				margin-top: 2.5rem;
			}
		}
	}
	&__check{
		color: @title-color;
		font-size: 16/@rem;
		font-weight: 600;
		letter-spacing: -0.22/@rem;
		line-height: 24/@rem;
		padding-left: 3.6rem;
		position: relative;
		.ideal-check{
			position: absolute;
			left: 0;
			top: 2/@rem;
		}
	}
	&__radio{
		&-btns{
			.clearfix;
			margin-top: 2rem;
			margin-bottom: 4rem;
			.ideal-radio{
				display: none;
			}
		}
		&-btn{
			float: left;
			display: block;
			height: 4.8rem;
			border: 1px solid @cBorder;
			font-size: 16/@rem;
			font-weight: 600;
			letter-spacing: -0.22/@rem;
			line-height: 16/@rem;
			color: fade(@title-color,80%);
			padding: 1.5rem 3rem;//примерно
			&._w50{
				width: 50%;
				text-align: center;
			}
			&+&{
				border-left: 0;
			}
			&._active{
				border-color: transparent;
				color: #fff;
				background-color: @cRed;
			}
			&:first-child{
				border-radius: 4/@rem 0 0 4/@rem;
			}
			&:last-child{
				border-radius: 0 4/@rem 4/@rem 0;
			}
		}
	}
	&__success{
		text-align: center;
		&-ico{
			display: inline-block;
			vertical-align: top;
			width: 100/@rem;
			height: 75/@rem;
			background: url('@{pathToImg}success.png') no-repeat center;
			background-size: contain;
		}
		&-block{
			padding-top: 20/@rem;
		}
		&-title{
			font-size: 30/@rem;
			font-weight: 600;
			letter-spacing: -0.42/@rem;
			line-height: 41/@rem;
		}
		&-text{
			font-size: 16/@rem;
			font-weight: 400;
			line-height: 30/@rem;
			margin-top: 20/@rem;
			.mobile &{
				font-size: 14/@rem;
				line-height: 20/@rem;
				margin-top: 10/@rem;
			}
		}
	}
	&__errors{
		ul{
			list-style: none;
			padding-left: 0;
			font-size: 12/@rem;
			font-weight: 400;
			letter-spacing: 0.04/@rem;
			line-height: 20/@rem;
			color: @cRed;
			margin-top: 20/@rem;
			margin-bottom: -10/@rem;
			li{
				position: relative;
				padding-left: 3rem;
				&+li{
					margin-top: 1rem;
				}
				&:before{
					content: '';
					position: absolute;
					left:0;
					top:2/@rem;
					width: 16/@rem;
					height: 16/@rem;
					border-radius: 50%;
					background: url('@{pathToImg}icons/attention.svg') no-repeat center @cRed;
					background-size: 0.3rem 0.9rem;
				}
			}
		}
	}
	&__row{
		&+&{
			margin-top: 3rem;
		}
	}
	&__content{
		margin-top: 4rem;
		&-title{
			font-size: 20/@rem;
			font-weight: 700;
			line-height: 27/@rem;
			color: @title-color;
			margin-bottom: 20/@rem;
		}
		&-cols{
			.clearfix;
		}
		&-col{
			float: left;
			width: 405/@rem;
			&+&{
				margin-left: 8rem;
			}
		}
	}
	&__block{
		&._textarea{
			height: 24rem;
			&._small{
				height: 12rem;
				textarea{
					font-size: 1.6rem;
				}

			}
			.mobile &{
				height: 16rem;
			}
			textarea{
				border: 2/@rem solid #d0d4d9;
				border-radius: 2/@rem;
				padding-top: 1.5rem;
				padding-left: 1.8rem;
			}
		}
		&._small-select{
			.b-form__block-title{
				margin-bottom: 1rem;
			}
			.chosen-container-single .chosen-single{
				height: 4.5rem;
				line-height: 2rem;
				font-size: 1.6rem;
			}
		}
		&-title{
			font-size: 10/@rem;
			font-weight: 600;
			letter-spacing: 0.5/@rem;
			line-height: 14/@rem;
			text-transform: uppercase;
			&+.b-form__block._textarea{
				margin-top: 1rem;
			}
		}
		&-field{
			height: 46/@rem;
			border-bottom: 2/@rem solid #d0d4d9;
			padding-bottom: 4/@rem;
			position: relative;
			&._full-border{
				line-height: 3.2rem;
				padding: 0.5rem 1.9rem;
				border: 2/@rem solid #d0d4d9;
				margin-top: 1rem;
				input[type="text"]{
					font-size: 1.6rem;
				}

			}
			&._rub{
				position: relative;
				input[type="text"]{
					padding-right: 4rem;
				}
				.rub{
					position: absolute;
					right: 2rem;
					z-index: 2;
					font-size: 1.5rem;
					line-height: 2rem;
					height: 2rem;
					top: 50%;
					margin-top: -1rem;
				}
			}
			&.phone-inp{
				position: relative;
				&:before{
					content: '+7';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					font-size: 20/@rem;
					font-weight: 400;
					letter-spacing: -0.28/@rem;
					line-height: 42/@rem;
					z-index: 3;
				}
				input[type="text"]{
					padding-left: 2.7rem;
				}
			}
		}
	}
	&__captcha{
		margin-top: 20/@rem;
		.clearfix;
		&-img{
			float: left;
			width: 190/@rem;
			height: 48/@rem;
			margin-top: 6/@rem;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&-block{
			float: left;
			margin-left: 2.6rem;
			width: 189/@rem;
			height: 60/@rem;
			white-space: nowrap;
		}
	}
	&__file{
		margin-top: 20/@rem;
		&-title{
			font-size: 16/@rem;
			font-weight: 600;
			letter-spacing: -0.22/@rem;
			line-height: 22/@rem;
		}
		&-block{
			.clearfix;
			margin-top: 16/@rem;
		}
		&-field{
			float: left;
			width: 190/@rem;
			height: 48/@rem;
			border: 1px solid @cRed;
			border-radius: 2/@rem;
			text-align: center;
			font-size: 12/@rem;
			font-weight: 600;
			letter-spacing: 0.04/@rem;
			line-height: 16/@rem;
			color: @cRed;
			text-transform: uppercase;
			padding: 1.5rem 1.5rem 1.5rem 6.3rem;
			overflow: hidden;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 4.8rem;
				background: url('@{pathToImg}icons/download.svg') no-repeat center @cRed;
				background-size: 1.6rem;
			}
		}
		&-inp{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 100/@rem;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		&-text{
			float: left;
			font-size: 14/@rem;
			font-weight: 400;
			letter-spacing: -0.19/@rem;
			line-height: 20/@rem;
			color: @title-color;
			margin-top: 14/@rem;
			padding-left: 26/@rem;
			max-width: 20rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__btn{
		padding-right:2.5rem;
		padding-left: 2.5rem;
		&._right{
			float: right;
			.mobile &{
				float: none;
			}
		}
		&-wrap{
			margin-top: 4rem;
			text-align: center;
			.clearfix;
		}
	}
}
.reserve-form{
	border-top: 0.6rem solid #b31b2c;
	padding-top: 2.9rem;
	h2{
		line-height: 3.6rem;
		margin-bottom: 1.5rem;
	}
	&__check{
		padding-left: 3.5rem;
		position: relative;
		font-weight: 600;
		display: inline-block;
		.ideal-check{
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__company-type{
		&-text{
			color: #919599;
			font-size: 18/@rem;
			font-weight: 400;
			letter-spacing: -0.25/@rem;
			line-height: 25/@rem;
			text-align: center;
			margin-bottom: 4rem;
		}
		.b-form__radio-btns{
			margin-bottom: 2rem;
		}
	}
}
.big-form{
	width: 970/@rem;
	padding: 4rem;
	.b-form{
		&__content{
			margin-top: 3rem;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				width: 1px;
				background: #f2f4f5;
			}
		}
		&__block{
			&._textarea{
				height: 14.4rem;
				&._resume{
					height: 13.4rem;
				}
			}
		}
	}
}
.guarantee-form{
	border-top: 6/@rem solid #b31b2c;
	&__btn{
		width: 17rem;
		text-align: center;
	}
}
.desktop,.tablet.landscape{
	.big-form{
		.b-form{
			&__success{
				.clearfix;
				text-align: left;
				padding: 3.6rem 6.2rem 4.8rem;
				&-in{
					position: relative;
					padding-left: 368/@rem;
				}
				&-ico{
					position: absolute;
					left: 0;
					top: 0;
					width: 264/@rem;
					height: 190/@rem;
					background: url('@{pathToImg}success.png') no-repeat center;
					background-size: contain;
				}
				&-block{
					min-height:190/@rem;
					padding-top: 20/@rem;
				}
			}
		}
	}

}
.ask-form{
	width: 570/@rem;
	padding: 4rem;
	.mobile &{
		width: 38rem;
	}
}
.field-status{
	position: absolute;
	right: 0;
	top: 8/@rem;
	z-index: 10;
	display: none;
	.no-touch &:hover,&._active{
		.field-status__text{
			display: block;
		}
	}
	&__ico{
		width: 16/@rem;
		height: 16/@rem;
		background-color: @cGold;
		border-radius: 50%;
		cursor: pointer;
	}
	&__text{
		width: 230/@rem;
		background-color: white;
		border-radius: 2/@rem;
		box-shadow: 0 2/@rem 8/@rem rgba(211, 211, 211, 0.5);
		min-height: 56/@rem;
		font-size: 12/@rem;
		font-weight: 400;
		letter-spacing: 0.04/@rem;
		line-height: 20/@rem;
		color: @title-color;
		position: absolute;
		left: 100%;
		z-index: 10;
		margin-left: 1rem;
		top: -20/@rem;
		padding: 8/@rem 10/@rem 8/@rem 19/@rem;
		display: none;
		&:before{
			content: '';
			position: absolute;
			left: -6/@rem;
			top: 22/@rem;
			border: 6/@rem solid transparent;
			border-left: 0;
			border-right-color: #fff;

		}
	}
}
._ok{
	.field-status{
		display: block;
		&__ico{
			background:url('@{pathToImg}icons/ok_small.svg') no-repeat center @cGold;
			background-size: 8/@rem 7/@rem;
			cursor: default;
		}
	}
}
._error{
	.field-status{
		display: block;
		&__ico{
			background:url('@{pathToImg}icons/attention.svg') no-repeat center @cRed;
			background-size: 3/@rem 9/@rem;
		}
	}
}
.tablet.portrait{
	.b-form{
		&__content{
			&-col{
				float: none;
				width: 100%;
				&+.b-form__content-col{
					margin-left: 0;
					margin-top: 3rem;
				}
			}
		}
		&__captcha{
			&-img{
				width: 210/@rem;
				height: 54/@rem;
				margin-top: 6/@rem;
			}
			&-block{
				margin-left: 4rem;
			}
		}
		&__file{
			margin-top: 30/@rem;
			&-block{
				margin-top: 25/@rem;
			}
			&-field{
				width: 210/@rem;
			}
			&-text{
				padding-left: 40/@rem;
			}
		}
	}
	.big-form{
		width: 570/@rem;
		padding: 4rem;
		.b-form{
			&__content{
				margin-top: 3rem;
				position: relative;
				&:before{
					display: none;
				}
			}
			&__block{
				&._textarea{
					height: 14.4rem;
				}
			}
		}
	}
	.field-status{
		top: 50%;
		z-index: 10;
		margin-top: -1rem;
		&__text{
			left: auto;
			right: 0;
			top: 100%;
			margin-top: 12/@rem;
			&:before{
				left: auto;
				top: -0.6rem;
				right:1rem;
				border: 6/@rem solid transparent;
				border-top: 0;
				border-bottom-color: #fff;
			}
		}
	}
}
.mobile{
	.b-form{
		&__content{
			&-col{
				float: none;
				width: 100%;
				&+.b-form__content-col{
					margin-left: 0;
					margin-top: 3rem;
				}
			}
		}
		&__captcha{
			&-img{
				width: 160/@rem;
				height: 54/@rem;
				margin-top: 0;
			}
			&-block{
				margin-left: 0;
				width: 100%;
				margin-top: 1rem;
			}
		}
		&__file{
			&-block{
			}
			&-field{
				width: 160/@rem;
				font-size: 10/@rem;
				padding: 1.5rem 0.5rem 1.5rem 5.3rem;
			}
			&-text{
				padding-left: 10/@rem;
				max-width: 16rem;
			}
		}
	}
	.big-form{
		width: 38rem;
		padding: 3rem;
		.b-form{
			&__content{
				margin-top: 3rem;
				position: relative;
				&:before{
					display: none;
				}
			}
			&__block{
				&._textarea{
					//height: 14.4rem;
				}
			}
		}
	}
	.field-status{
		top: 50%;
		z-index: 10;
		margin-top: -1rem;
		&__text{
			left: auto;
			right: 0;
			top: 100%;
			margin-top: 12/@rem;
			&:before{
				left: auto;
				top: -0.6rem;
				right:1rem;
				border: 6/@rem solid transparent;
				border-top: 0;
				border-bottom-color: #fff;
			}
		}

	}
	.reserve-form{
		&__company-type{
			&-corporate{
				padding: 0.9rem 1rem;
			}
		}
	}
}