.page-nav{
	&__row{
		.clearfix;
		&._long-cols{
			.desktop &,.tablet.landscape &{
				.page-nav__row-col._items{
					.page-nav__item{
						height: 15rem;
						padding: 2.4rem 4rem;
						&+.page-nav__item{
							margin-top: 1rem;
						}
					}
				}
				.page-nav__item._big{
					height: 47rem;
				}
			}
			.tablet.portrait &{
				.page-nav__row-col._items{
					.page-nav__item{
						&:nth-child(3){
							width: 100%;
							margin-left: 0;
							margin-top: 3rem;
						}
					}
				}
			}
		}
		&+&{
			margin-top: 30/@rem;
		}
		&-col{
			float: left;
			width: 570/@rem;
			&._right{
				float: right;
				margin-left: 3rem;
				&+.page-nav__row-col{
					margin-left: 0;
				}
			}
			&+&{
				margin-left: 30/@rem;
			}
		}
	}
	&__item{
		display: block;
		background-color: #fff;
		height: 200/@rem;
		padding: 34/@rem 40/@rem;
		.color(@title-color);
		border-radius: 2/@rem;
		box-shadow: 0 1px 3/@rem rgba(211, 211, 211, 0.8);
		position: relative;
		&._big{
			height: 430/@rem;
			overflow: hidden;
			position: relative;
		}
		&+&{
			margin-top: 30/@rem;
		}
		&-bottom{
			position: absolute;
			bottom: 5.8rem;
			left: 4rem;
			.mobile &{
				position: static;
			}
		}
		&-ico{
			&._base{
				position: absolute;
				z-index: 2;
				width: 7rem;
				height: 7rem;
				top: 3rem;
				right: 4rem;
				background: none no-repeat center;
				background-size: contain;
			}
			&._services{
				background-image: url('@{pathToImg}transfers/icons/services.svg');
			}
			&._credit-for-loyal{
				background-image: url('@{pathToImg}icons/credit-for-loyal.svg');
			}
			&._transfers{
				background-image: url('@{pathToImg}transfers/icon_transfer.svg');
			}
			&._currency{
				background-image: url('@{pathToImg}transfers/icons/currency.svg');
			}
			&._currency2{
				background-image: url('@{pathToImg}icons/currency.svg');
			}
			&._precious{
				background-image: url('@{pathToImg}icons/precious.svg');
			}
			&._insurance{
				background-image: url('@{pathToImg}invest/ico-insurance.svg');
			}
			&._depository{
				background-image: url('@{pathToImg}invest/ico-depository.svg');
			}
			&._payments{
				background-image: url('@{pathToImg}deposit/main/payments.svg');
			}
			&._boxes{
				background-image: url('@{pathToImg}deposit/main/boxes.svg');
			}
			&._bank{
				background-image: url('@{pathToImg}deposit/main/bank.svg');
			}
			&._accounts{
				background-image: url('@{pathToImg}deposit/main/accounts.svg');
			}
			&._discounts{
				background-image: url('@{pathToImg}icons/discounts.svg');
			}
			&._credit{
				background-image: url('@{pathToImg}icons/mortgage_credit.svg');
			}
			&._docs{
				background-image: url('@{pathToImg}icons/docs.svg');
			}
			&._documentary1{
				background-image: url('@{pathToImg}page-nav/documentary/ico1.svg');
			}
			&._documentary2{
				background-image: url('@{pathToImg}page-nav/documentary/ico2.svg');
			}
		}
		&-title{
			font-size: 20/@rem;
			font-weight: 700;
			line-height: 27/@rem;
			max-width: 36rem;
			position: relative;
			z-index: 2;
		}
		&-text{
			font-size: 16/@rem;
			line-height: 25/@rem;
			margin-top: 16/@rem;
			max-width: 37rem;
			position: relative;
			z-index: 2;
		}
	}
}
.documentary-nav{
	background-color: whitesmoke;
	padding: 7rem 0;
	&__btn{
		margin-top: 44/@rem;
		width: 17rem;
	}
	.page-nav{
		&__item{
			height: 23rem;
			padding-top: 29/@rem;
			&-title{
				line-height: 3.4rem;
			}
		}
	}
	.tablet.portrait &{
		padding: 5rem 0;
		.documentary-nav__btn{
			position: absolute;
			left: 3rem;
			bottom: 3rem;
			margin: 0;
		}
		.page-nav__item{
			height: 25rem;
			padding: 3rem;
		}
		.page-nav__item-ico{
			display: none;
		}
		.page-nav__row-col{
			float: left;
			width: 342/@rem;
			&+.page-nav__row-col{
				margin-left: 30/@rem;
				margin-top: 0;
			}
		}
	}
	.mobile &{
		padding: 4rem 0;
		.page-nav__item-ico{
			display: none;
		}
		.page-nav__item{
			height: 22rem;
			padding: 3rem 2rem;
		}
	}
}
.disclosure-nav{
	&__annual-reports{
		.color(#fff);
		background: linear-gradient(138deg, #c59f8c 0%, #b06f5f 100%);
	}
	&__shareholders{
		.color(#fff);
		background: linear-gradient(138deg, #7b6c73 0%, #4c3a47 100%);
	}
	&__auditors{
		.b-list{
			font-weight: 600;
		}
		.desktop &{
			.note-text{
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 2.5rem;
				padding-top: 1.4rem;
				padding-bottom: 1.1rem;
			}
		}
		.tablet.portrait &{
			.note-text{
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 2rem;
				padding-top: 1.4rem;
				padding-bottom: 1.1rem;
			}
		}
	}
}
.remote-nav{
	&__bank{
		.color(#fff);
		background: url('@{pathToImg}remote-services/bank_bg.png') no-repeat center;
		background-size: cover;
		.tablet.portrait &{
			background-image: url('@{pathToImg}remote-services/bank_bg_tablet.png');
		}
		.mobile &{
			padding-right: 15rem!important;
			background-image: url('@{pathToImg}remote-services/bank_bg_mob.png');
		}

	}
}
.financial-nav{
	&__market{
		.color(#fff);
		background: url('@{pathToImg}page-nav/financial/market.png') no-repeat center;
		background-size: cover;
		.tablet.portrait &{
			background-image: url('@{pathToImg}page-nav/financial/market_tablet.png');
		}
		.mobile &{
			padding-right: 15rem!important;
			background-image: url('@{pathToImg}page-nav/financial/market_mob.png');
		}
	}
	&__depository{
		position: relative;
		&-ico{
			position: absolute;
			right: -3rem;
			top: 0.5rem;
			width: 255/@rem;
			height: 200/@rem;
			background: url('@{pathToImg}page-nav/financial/box.png') no-repeat center;
			background-size: contain;
		}
	}
}
.corporate-invest-nav{
	&.b-block{
		padding-top: 6rem;
		padding-bottom: 5rem;
	}
	&__bottom.b-block{
		.tablet.portrait &{
			padding-top: 5rem;
		}
		.mobile &{
			padding-top: 3rem;
		}
		padding-top: 7rem;
	}
	&__deposits{
		background-image: linear-gradient(137deg, #878579 0%, #5c5c54 100%);
		.color(#fff);
		overflow: visible!important;
		&-img{
			.mobile &{
				display: none;
			}
			width: 290/@rem;
			height: 235/@rem;
			background: url('@{pathToImg}corporate/safe-box.png') no-repeat center;
			background-size: contain;
			position: absolute;
			right: 3rem;
			top: -1.4rem;
		}
	}
}
.cards-nav{
	&.b-block{
		padding-top: 80/@rem;
		padding-bottom: 65/@rem;
	}
	&__card{
		.page-nav__item{
			&-text,&-title{
				max-width: 27rem;
			}
		}
		.b-card{
			width: 210/@rem;
			height: 131/@rem;
			position: absolute;
			right: 3rem;
			top: 3.3rem;
		}
	}
	&__rgs{
		.page-nav__item{
			&-title{
				max-width: 38rem;
			}
			&-text{
				max-width: 32rem;
			}
		}
		&-logo{
			width: 165/@rem;
			height: 72/@rem;
			background: url('@{pathToImg}cards-nav/logo.svg') no-repeat center;
			background-size: contain;
			position: absolute;
			right: 4rem;
			top: 7.4rem;
		}
	}
	&__payments{
		.color(#fff);
		background: url('@{pathToImg}cards-nav/payments.png') no-repeat center;
		background-size: cover;
	}
	&__visa{
		.color(#fff);
		background: url('@{pathToImg}cards-nav/visa.png') no-repeat center;
		background-size: cover;
	}
}
.invest-nav{
	margin-top: 32/@rem;
	&__iis {
		.color(#fff);
		background: url('@{pathToImg}invest/iis-bg.jpg') no-repeat center #cca266;
		background-size: cover;
	}
	&__pay{
		position: relative;
		.page-nav__item-title{
			max-width: 57rem;
		}
		.page-nav__item-text{
			max-width: 57rem;
		}
		&-img{
			position: absolute;
			right: 7.7rem;
			top: 4.6rem;
			width: 29rem;
			height: 136/@rem;
			background: url('@{pathToImg}invest/2.jpg') no-repeat center;
			background-size: contain;
		}
	}
}
.deposits-nav{
	&__filter{
		background: url('@{pathToImg}deposit/main/filter.jpg') no-repeat center;
		background-size: cover;
		.color(#fff);
	}
	&__pension{
		&-img{
			width: 232/@rem;
			height: 195/@rem;
			background: url('@{pathToImg}deposit/main/old-man.png') no-repeat center;
			background-size: contain;
			position: absolute;
			right: 7rem;
			top: -1.1rem;
		}
		&-blocks{
			float: right;
			width: 65.5rem;
			padding-top: 13/@rem;
		}
		&-block{
			float: left;
			width: 17.7rem;
			&-title{
				font-size: 10/@rem;
				font-weight: 600;
				letter-spacing: 0.5/@rem;
				line-height: 14/@rem;
				color: @cGray;
			}
			&-val{
				font-size: 24/@rem;
				font-weight: 400;
				letter-spacing: -0.33/@rem;
				line-height: 30/@rem;
				margin-top: 18/@rem;
				color: @title-color;
			}
		}
	}
}
.tablet.portrait{

	.page-nav{
		&__row{
			&-col{
				float: none;
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				&+.page-nav__row-col{
					margin-left: 0;
					margin-top: 30/@rem;
				}
				&._items{
					.clearfix;
					&._tablet-w-100{
						.page-nav__item{
							float: none;
							width: 100%;
							margin-right: 0;
							margin-left: 0;
							&+.page-nav__item{
								margin-left: 0;
								margin-top: 3rem;
							}
						}
					}
					.page-nav__item{
						float: left;
						width: 342/@rem;
						&+.page-nav__item{
							margin-left: 30/@rem;
							margin-top: 0;
						}
					}
				}
			}
		}
		&__item{
			padding: 34/@rem 30/@rem;
		}
	}
	.invest-nav{
		.page-nav__item-ico{
			display: none;
		}
		margin-top:0;
		&__iis {
			background-image: url('@{pathToImg}invest/iis-bg-tablet.png');
		}
		&__pay{
			&-img{
				display: none;
			}
		}
	}
	.financial-nav{
		.page-nav__item-ico{
			display: none;
		}
		&__depository{
			&-ico{
				right: -2.2rem;
			}
		}
	}
	.deposits-nav{
		padding-bottom: 3rem;
		.page-nav__row-col._items{
			.page-nav__item-ico{
				display: none;
			}
		}
		&__info{
			margin-top: 4rem!important;
		}
		&__filter{
			background-image: url('@{pathToImg}deposit/main/filter_tablet.jpg');
		}
		&__pension{
			&-img{
				display: none;
			}
			&-blocks{
				width: 23.7rem;
			}
			&-block{
				width: 8rem;
				&+.deposits-nav__pension-block{
					margin-left: 6rem;
				}
			}
		}
	}
	.cards-nav{
		.page-nav__item-ico{
			display: none;
		}
		&.b-block{
			padding-top: 8/@rem;
			padding-bottom: 27/@rem;
		}
		&__card{
			.page-nav__item{
				&-text,&-title{
					max-width: 42rem;
				}
			}
			.b-card{
				right: 3.3rem;
				top: 3.3rem;
			}
		}
		&__rgs{
			&-logo{
				width: 230/@rem;
				height: 100/@rem;
				top: 5rem;
			}
		}
		&__payments{
			background-image: url('@{pathToImg}cards-nav/payments_tablet.png');
		}
		&__visa{
			background-image: url('@{pathToImg}cards-nav/visa_tablet.png');
		}
	}
}
.mobile{
	.page-nav{
		&__row{
			&-col{
				float: none;
				width: 100%;
				margin-left: 0;
				&+.page-nav__row-col{
					margin-left: 0;
					margin-top: 30/@rem;
				}
			}
		}
		&__item{
			padding: 34/@rem 30/@rem;
			&._big{
				height: 20rem;
			}
		}
	}
	.invest-nav{
		.page-nav__item-ico{
			display: none;
		}
		margin-top:0;
		&__iis {
			background-image: none;
		}
		&__pay{
			&-img{
				display: none;
			}
		}
	}
	.deposits-nav{
		padding-bottom: 3rem;
		.page-nav__item-ico{
			display: none;
		}
		&__info{
			margin-top: 4rem!important;
		}
		&__filter{
			background-image: linear-gradient(138deg, #583658 0%, #4e385b 98%);
		}
		&__pension{
			&-img{
				display: none;
			}
			&-blocks{
				display: none;
			}
		}
	}
	.financial-nav{
		&__market{
			.page-nav__item-text{
				height: 7rem;
				overflow: hidden;
			}
		}
		.page-nav__item-ico{
			display: none;
		}
		&__depository{
			&-ico{
				display: none;
			}
		}
	}
	.cards-nav{
		.page-nav__item-ico{
			display: none;
		}
		&.b-block{
			padding-top: 30/@rem;
			padding-bottom: 16/@rem;
		}
		&__card{
			overflow: hidden;
			.page-nav__item{
				&-text,&-title{
					max-width: 23.6rem;
				}
				&-text{
					letter-spacing: -0.04rem;
				}
			}
			.b-card{
				right: -10.6rem;
				top: 3.6rem;
			}
		}
		&__rgs{
			.page-nav__item{
				&-text{
					max-width: 29rem;
				}
			}
			&-logo{
				display: none;
			}
		}
		&__payments{
			background-image: url('@{pathToImg}cards-nav/payments_mob.png');
		}
		&__visa{
			background-image: url('@{pathToImg}cards-nav/visa_mob.png');
		}
	}
}
.credit-nav{
	&__main{
		background: url('@{pathToImg}info-banners/credit/take_credit_pic.png') no-repeat center;
		background-size: cover;
		.color(#fff);
		.page-nav__item-text{
			max-width: 30rem;
		}
		&-img{
			display: none;
		}
	}
}
.tablet.portrait{
	.credit-nav{
		.page-nav__item-ico._base{
			display: none;
		}
		&__main{
			background-image: url('@{pathToImg}info-banners/credit/take_credit_tablet_pic.png');
		}
	}
}
.mobile{
	.credit-nav{
		.page-nav__item-ico._base{
			display: none;
		}
		&__main{
			.color(#fff);
			background-image: linear-gradient(138deg, #95b4c2 0%, #7096ac 100%);
			.page-nav__item-text{
				max-width: 24rem;
			}
			&-img{
				width: 15.5rem;
				height: 20.5rem;
				top: 1.3rem;
				right: -5.4rem;
			}
		}
	}
}