.b-table{
	table{
		width: 100%;
		color: @title-color;
	}
	td{
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		border-bottom: 1px solid @cBorder;
		padding: 2.3rem 2rem;
	}
	&__titles{
		td{
			border-top: 1px solid @cBorder;
			color: @cGray;
			font-size: 10/@rem;
			font-weight: 600;
			letter-spacing: 0.5/@rem;
			line-height: 14/@rem;
			text-transform: uppercase;
			padding-top: 12/@rem;
			padding-bottom: 12/@rem;
		}
	}

}