.b-table{
	table{
		width: 100%;
		color: @title-color;
	}
	td{
		font-size: 14/@rem;
		font-weight: 400;
		line-height: 25/@rem;
		border-bottom: 1px solid @cBorder;
		padding: 2.3rem 2rem;
	}
	&__titles{
		td{
			border-top: 1px solid @cBorder;
			color: @cGray;
			font-size: 10/@rem;
			font-weight: 600;
			letter-spacing: 0.5/@rem;
			line-height: 14/@rem;
			text-transform: uppercase;
			padding-top: 12/@rem;
			padding-bottom: 12/@rem;
		}
	}
}
.b-color-table{
	border-bottom: 1px solid @cBorder;
	border-top: 1px solid @cBorder;
	.b-list{
		&:first-child{
			margin-top: 0;
		}
		margin-bottom: 0;
		&+*{
			margin-top: 1.7rem;
		}
	}

	table{
		width: 100%;
		color: @title-color;
	}
	tr{
		&:nth-child(2n){
			background-color: whitesmoke;
		}
	}
	td{
		font-size: 14/@rem;
		font-weight: 400;
		line-height: 25/@rem;
		padding: 2.3rem 2rem;
		vertical-align: top;
		&:first-child{
			font-weight: 600;
			padding-left: 6.7rem;
			padding-right: 2rem;
			width: 377/@rem;
		}
		&:last-child{
			padding-right: 6rem;
		}
	}
}
.tablet.portrait{
	.b-color-table{
		td{
			&:first-child{
				padding-left: 2.7rem;;
				width: 25.5rem;
			}
			&:last-child{
				padding-right: 2.7rem;
			}
		}
	}
}
.mobile{
	.b-color-table{
		td{
			font-size: 12/@rem;
			line-height: 20/@rem;
			padding: 2.1rem 2rem 2rem;
			&:first-child{
				padding-left: 2rem;;
				width: 16.5rem;
			}
			&:last-child{
				padding-right: 2rem;
			}
		}
	}
	.b-table{
		td{
			font-size: 12/@rem;
			line-height: 2rem;
			padding-left: 0;
			padding-top: 2rem;
			padding-bottom: 2rem;
			vertical-align: top;
		}
		&__titles{
			td{
				font-size: 10/@rem;
				letter-spacing: 0.5/@rem;
				line-height: 14/@rem;
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
			}
		}
	}
}